@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldCondensed.eot");
  src: local("Helvetica Neue Condensed Bold"), local("HelveticaNeueBoldCondensed"), url("/fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("/fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("/fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackCondensed.eot");
  src: local("Helvetica Neue Condensed Black"), local("HelveticaNeueBlackCondensed"), url("/fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("/fonts/HelveticaNeueBlackCondensed.woff") format("woff"), url("/fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("/fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"), url("/fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("/fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-MediumItalic.eot");
  src: local("HelveticaNeueCyr-MediumItalic"), url("/fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-MediumItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-LightItalic.eot");
  src: local("HelveticaNeueCyr-LightItalic"), url("/fonts/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-HeavyItalic.eot");
  src: local("HelveticaNeueCyr-HeavyItalic"), url("/fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-HeavyItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-HeavyItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Black.eot");
  src: local("HelveticaNeueCyr-Black"), url("/fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Heavy.eot");
  src: local("HelveticaNeueCyr-Heavy"), url("/fonts/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Heavy.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("/fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-BlackItalic.eot");
  src: local("HelveticaNeueCyr-BlackItalic"), url("/fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-BlackItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-UltraLightItalic.eot");
  src: local("HelveticaNeueCyr-UltraLightItalic"), url("/fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-BoldItalic.eot");
  src: local("HelveticaNeueCyr-BoldItalic"), url("/fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-ThinItalic.eot");
  src: local("HelveticaNeueCyr-ThinItalic"), url("/fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-ThinItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-UltraLight.eot");
  src: local("HelveticaNeueCyr-UltraLight"), url("/fonts/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("/fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Thin.eot");
  src: local("HelveticaNeueCyr-Thin"), url("/fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
.call__button {
  width: 100%;
  display: flex;
  justify-content: end;
}
.call__button button {
  width: 26.455026455vw;
  height: 6.6137566138vw;
  background: #9F1D00;
  border-radius: 0.6613756614vw;
  font-weight: 500;
  font-size: 2.1164021164vw;
  line-height: 129%;
  text-transform: uppercase;
  color: #FFEEE0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.call__button button:hover {
  filter: drop-shadow(0px 0px 15px #E10000);
}
.call__button button:hover span {
  font-weight: 700;
  letter-spacing: 0.03em;
}
.call__button button span {
  transition: all 0.2s ease 0s;
}

main {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
  font-family: "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #E2D1C3;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(12, 12, 12, 0.1);
  padding: 1.3227513228vw 8.5978835979vw;
}
.header__logo {
  width: 15.6746031746vw;
}
.header__logo img {
  width: 100%;
}
.header__menu {
  margin-left: 7.208994709vw;
}
.header__menu a {
  position: relative;
  line-height: 1;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.3227513228vw;
  line-height: 97.3%;
  color: #341E0B;
  margin-right: 5.9523809524vw;
}
.header__menu a:last-child {
  margin-right: 0;
}
.header__menu a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #341E0B; /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.header__menu a:hover:after, .header__menu a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.header__inst {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 2.9761904762vw;
  height: 2.9761904762vw;
  padding: 0.3306878307vw;
}
.header__inst img {
  width: 100%;
}

.inject {
  display: flex;
}
.inject__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16.8650793651vw;
}
.inject__info h1 {
  font-size: 6.3492063492vw;
  color: #492E18;
}
.inject__info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 8.1349206349vw;
  margin-right: 1.455026455vw;
}
.inject__info-wrapper p {
  margin-top: 4.6296296296vw;
  margin-left: 0.462962963vw;
  width: 30.0925925926vw;
  font-size: 1.8518518519vw;
  color: rgba(95, 61, 33, 0.8);
}
.inject__info-wrapper > div {
  margin-top: -0.462962963vw;
  margin-right: 1.3227513228vw;
  margin-left: auto;
  max-width: 17.328042328vw;
  width: 100%;
}
.inject__info-wrapper > div img {
  width: 100%;
}
.inject__photo {
  min-width: 45.9656084656vw;
  margin-left: auto;
}
.inject__photo img {
  width: 100%;
}

.dr {
  margin-top: 9.9206349206vw;
}
.dr__container {
  max-width: 86.6402116402vw;
  width: 100%;
  margin-left: 8.5978835979vw;
  display: flex;
}
.dr__left {
  max-width: 40.5423280423vw;
}
.dr__left-wrapper {
  position: relative;
}
.dr__left-def {
  width: 100%;
}
.dr__left-abs {
  position: absolute;
  bottom: -7.4074074074vw;
  right: -8.0026455026vw;
  width: 22.4867724868vw;
}
.dr__right {
  margin-left: auto;
  text-align: center;
}
.dr__right h2 {
  margin-top: -0.9920634921vw;
  font-style: italic;
  font-weight: 500;
  font-size: 4.2328042328vw;
  line-height: 97.3%;
  color: #492E18;
}
.dr__right h3 {
  margin-top: 6.6137566138vw;
  color: #5F3D21;
  font-style: italic;
  font-weight: 300;
  font-size: 2.1164021164vw;
  line-height: 97.3%;
}
.dr__right-list {
  margin-top: 6.6137566138vw;
  text-align: left;
  width: 26.7195767196vw;
  margin-left: 11.5740740741vw;
}
.dr__right-list a {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-top: 7.9365079365vw;
  max-width: 12.037037037vw;
  width: 100%;
}
.dr__right-list a img {
  width: 100%;
}
.dr__right-list a p {
  position: absolute;
  bottom: 0;
  right: 4.3650793651vw;
  font-weight: 500;
  font-size: 1.8518518519vw;
  line-height: 159.5%;
  color: #492E18;
  width: 14.5502645503vw;
}
.dr__right ul > li, .dr__right p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8518518519vw;
  line-height: 111.5%;
  color: rgba(73, 46, 24, 0.8);
}
.dr__right p {
  color: rgb(73, 46, 24);
}
.dr__right ul {
  margin-top: 1.9841269841vw;
}
.dr__right ul li {
  margin-left: 2.7777777778vw;
  position: relative;
  margin-top: 1.9841269841vw;
}
.dr__right ul li::before {
  content: "";
  position: absolute;
  top: 0.7936507937vw;
  left: -1.6534391534vw;
  display: flex;
  width: 0.5291005291vw;
  height: 0.5291005291vw;
  border-radius: 50%;
  background-color: rgba(73, 46, 24, 0.8);
}

.services {
  margin-top: 4.1666666667vw;
}
.services__container {
  width: 82.8042328042vw;
  margin: 0 auto;
}
.services__container h2 {
  font-weight: 500;
  font-size: 6.3492063492vw;
  line-height: 115%;
  color: #5F3D21;
  margin-bottom: 6.0846560847vw;
  padding-left: 0.6613756614vw;
}
.services__wrapper {
  display: flex;
}
.services__left {
  margin-right: 3.5714285714vw;
  margin-left: auto;
}
.services__left ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__left ul li {
  position: relative;
  text-align: right;
  margin-bottom: 3.1746031746vw;
  font-size: 2.1164021164vw;
  line-height: 97.3%;
  color: #492E18;
  padding-right: 4.6957671958vw;
}
.services__left ul li::before {
  position: absolute;
  top: -0.6613756614vw;
  right: 0;
  content: "";
  display: inline-block;
  width: 2.9761904762vw;
  height: 2.9761904762vw;
  background: url("../img/arrow_3.svg") center/contain no-repeat;
}
.services__right {
  max-width: 40.7407407407vw;
  width: 100%;
  position: relative;
}
.services__right img {
  width: 100%;
}
.services__right a {
  position: absolute;
  left: -8.3333333333vw;
  bottom: -4.3650793651vw;
  display: flex;
  margin-top: 7.9365079365vw;
  max-width: 12.037037037vw;
  width: 100%;
  margin-left: auto;
}
.services__right a img {
  width: 100%;
}
.services__right a p {
  position: absolute;
  bottom: 0;
  right: 4.7619047619vw;
  font-weight: 500;
  font-size: 1.8518518519vw;
  line-height: 159.5%;
  color: #492E18;
}

.learn {
  margin-top: 14.417989418vw;
}
.learn__container {
  max-width: 82.8042328042vw;
  width: 100%;
  margin: 0 auto;
}
.learn__title {
  width: 61.1772486772vw;
  font-weight: 500;
  font-size: 4.2328042328vw;
  line-height: 97.3%;
  color: #492E18;
  margin-bottom: 4.9603174603vw;
}
.learn__title span {
  text-transform: uppercase;
  color: rgb(204, 51, 18);
}
.learn__text {
  width: 61.5079365079vw;
  font-weight: 400;
  font-size: 2.1164021164vw;
  line-height: 120.3%;
  color: rgba(73, 46, 24, 0.8);
  margin-bottom: 4.9603174603vw;
}
.learn__table {
  display: flex;
  justify-content: center;
  margin-bottom: 4.9603174603vw;
}
.learn__table-b1, .learn__table-b2, .learn__table-b3 {
  font-weight: 500;
  font-size: 2.1164021164vw;
  line-height: 100.5%;
  text-align: center;
  color: #492E18;
  border: 1px solid #CC3312;
  padding-top: 4.4973544974vw;
  padding-bottom: 4.4973544974vw;
}
.learn__table-b1 {
  width: 27.5793650794vw;
}
.learn__table-b2 {
  width: 24.4047619048vw;
}
.learn__table-b3 {
  width: 30.8201058201vw;
}
.learn__subtext {
  margin-left: auto;
  width: 48.2804232804vw;
  font-size: 2.1164021164vw;
  line-height: 120.3%;
  text-align: right;
  color: rgba(73, 46, 24, 0.8);
  margin-bottom: 4.9603174603vw;
}
.learn__button {
  display: flex;
  justify-content: end;
  margin-left: auto;
}
.learn__button a {
  position: relative;
  max-width: 12.037037037vw;
  width: 100%;
}
.learn__button a img {
  width: 100%;
}
.learn__button a p {
  position: absolute;
  width: 19.1798941799vw;
  bottom: 0;
  right: 4.2989417989vw;
  font-weight: 500;
  font-size: 2.1164021164vw;
  line-height: 159.5%;
  color: #492E18;
}

.subs {
  margin-top: 9.9206349206vw;
}
.subs__container {
  max-width: 82.8042328042vw;
  width: 100%;
  margin: 0 auto;
}
.subs__container h3 {
  font-weight: 500;
  font-size: 4.2328042328vw;
  line-height: 97.3%;
  color: #492E18;
}
.subs__slider {
  position: relative;
  margin-top: 3.3068783069vw;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.subs__slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.0687830688vw;
  height: 33.0687830688vw;
  padding: 2.1164021164vw 3.0423280423vw;
  background: linear-gradient(91.55deg, rgba(238, 221, 205, 0.5) 1.01%, rgba(255, 246, 237, 0.5) 98.45%);
  box-shadow: 0.2645502646vw 0.2645502646vw 0.462962963vw rgba(73, 46, 24, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 1.9841269841vw;
}
.subs__slider-item p {
  font-weight: 400;
  font-size: 1.5873015873vw;
  text-align: center;
  line-height: 133.3%;
  color: #492E18;
}
.subs__slider .slick-list {
  overflow: hidden;
}
.subs__slider .slick-track {
  display: flex;
}
.subs__slider .slick-slide {
  margin-right: 0.9920634921vw;
}
.subs__slider .slick-arrow {
  position: absolute;
  top: -4.2989417989vw;
  right: 0;
  font-size: 0;
  width: 5.291005291vw;
  height: 1.0582010582vw;
}
.subs__slider .slick-arrow.slick-prev {
  transform: rotate(180deg);
  background: url("../img/arrow-right.svg") center/contain no-repeat;
  right: 13.2275132275vw;
}
.subs__slider .slick-arrow.slick-next {
  background: url("../img/arrow-right.svg") center/contain no-repeat;
}
.gallery__wrapper {
  margin-top: 9.9206349206vw;
  display: flex;
}
.gallery__b1 {
  margin-right: 1.3227513228vw;
}
.gallery__b1-img1 {
  max-width: 28.3068783069vw;
  width: 100%;
}
.gallery__b1-img1 img {
  width: 100%;
}
.gallery__b1-img2 {
  max-width: 19.708994709vw;
  width: 100%;
  margin-top: 1.0582010582vw;
  margin-left: auto;
}
.gallery__b1-img2 img {
  width: 100%;
}
.gallery__b2 {
  margin-right: 1.3227513228vw;
}
.gallery__b2-img1 {
  max-width: 40.7407407407vw;
  width: 100%;
}
.gallery__b2-img1 img {
  width: 100%;
}
.gallery__b2-text {
  max-width: 40.7407407407vw;
  padding: 0 3.3068783069vw;
  width: 100%;
}
.gallery__b2-text p {
  font-weight: 400;
  font-size: 2.380952381vw;
  line-height: 124%;
  text-align: center;
  color: #492E18;
  margin-top: 1.1243386243vw;
  margin-bottom: 1.1904761905vw;
}
.gallery__b2-text p a {
  font-weight: 700;
  color: rgb(204, 51, 18);
}
.gallery__b2-img2 {
  max-width: 40.7407407407vw;
  width: 100%;
}
.gallery__b2-img2 img {
  width: 100%;
}
.gallery__b3-img1 {
  max-width: 19.5105820106vw;
  width: 100%;
  margin-bottom: 1.0582010582vw;
}
.gallery__b3-img1 img {
  width: 100%;
}
.gallery__b3-img2 {
  max-width: 28.3068783069vw;
  width: 100%;
}
.gallery__b3-img2 img {
  width: 100%;
}
.gallery__btn {
  margin-top: 3.3068783069vw;
  margin-right: 10.3835978836vw;
  display: flex;
  justify-content: end;
  margin-left: auto;
  position: relative;
}
.gallery__btn a {
  font-weight: 700;
  font-size: 2.380952381vw;
  line-height: 160%;
  letter-spacing: 0.08em;
  color: #492E18;
}
.gallery__btn img {
  position: absolute;
  width: 11.1772486772vw;
  right: -1.7857142857vw;
  bottom: -0.3306878307vw;
}

.ques {
  margin-top: 9.9206349206vw;
}
.ques__container {
  max-width: 82.8042328042vw;
  width: 100%;
  margin: 0 auto;
}
.ques h3 {
  font-weight: 500;
  font-size: 4.2328042328vw;
  line-height: 5.1587301587vw;
  color: #492E18;
  margin-bottom: 3.3068783069vw;
}
.ques .card,
.ques .card-header {
  background: transparent;
  border: none;
  border-radius: 0;
}
.ques .card {
  border-top: 0.0661375661vw solid #CC3312;
}
.ques .card:last-child {
  border-bottom: 0.0661375661vw solid #CC3312;
}
.ques .card-header {
  padding: 0;
}
.ques .accordion .card-header button {
  position: relative;
}
.ques .accordion .card-header button:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 5.291005291vw;
  height: 5.291005291vw;
  background: url("../img/line.svg") center/contain no-repeat;
  float: right;
  transition: 0.2s;
}
.ques .accordion .card-header button.collapsed:after {
  background: url("../img/double.svg") center/contain no-repeat;
}
.ques .btn {
  font-weight: 500;
  font-size: 2.380952381vw;
  line-height: 129%;
  color: #492E18;
  padding: 3.3068783069vw 6.6137566138vw 3.3068783069vw 0;
}
.ques .btn-link {
  text-decoration: none;
}
.ques .btn.focus, .ques .btn:focus {
  outline: 0;
  box-shadow: none;
}
.ques .card-body {
  font-weight: 400;
  font-size: 2.2486772487vw;
  line-height: 140%;
  color: #492E18;
  padding: 0 0 3.3068783069vw;
}

.call {
  margin-top: 9.9206349206vw;
  padding-bottom: 16.5343915344vw;
}
.call__container {
  max-width: 82.8042328042vw;
  width: 100%;
  margin: 0 auto;
}
.call__container h3 {
  font-weight: 500;
  font-size: 3.1746031746vw;
  line-height: 3.9021164021vw;
  color: #492E18;
  margin-bottom: 6.6137566138vw;
}
.call__container .call__form {
  width: 100%;
}
.call__container .call__form .call__input,
.call__container .call__form .call__comments {
  width: 100%;
}
.call__container .call__form .call__input input,
.call__container .call__form .call__input textarea,
.call__container .call__form .call__comments input,
.call__container .call__form .call__comments textarea {
  color: rgb(159, 29, 0);
  border: 1px solid #492E18;
  padding: 2.3148148148vw 2.6455026455vw;
  font-weight: 400;
  font-size: 2.1164021164vw;
  line-height: 129%;
  width: 100%;
  background-color: transparent;
  margin-bottom: 2.6455026455vw;
}
.call__container .call__form .call__input input::-moz-placeholder, .call__container .call__form .call__input textarea::-moz-placeholder, .call__container .call__form .call__comments input::-moz-placeholder, .call__container .call__form .call__comments textarea::-moz-placeholder {
  color: rgba(159, 29, 0, 0.7);
}
.call__container .call__form .call__input input::placeholder,
.call__container .call__form .call__input textarea::placeholder,
.call__container .call__form .call__comments input::placeholder,
.call__container .call__form .call__comments textarea::placeholder {
  color: rgba(159, 29, 0, 0.7);
}
.call__container .call__form .call__comments textarea {
  height: 15.873015873vw;
  margin-bottom: 6.6137566138vw;
}
.call__container .call__form .call__comments textarea::-moz-placeholder {
  color: rgba(159, 29, 0, 0.7);
}
.call__container .call__form .call__comments textarea::placeholder {
  color: rgba(159, 29, 0, 0.7);
}
.call__container .call__form .call__button {
  width: 100%;
  display: flex;
  justify-content: end;
}
.call__container .call__form .call__button button {
  width: 26.455026455vw;
  height: 6.6137566138vw;
  background: #9F1D00;
  border-radius: 0.6613756614vw;
  font-weight: 500;
  font-size: 2.1164021164vw;
  line-height: 129%;
  text-transform: uppercase;
  color: #FFEEE0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.call__container .call__form .call__button button:hover {
  filter: drop-shadow(0px 0px 15px #E10000);
}
.call__container .call__form .call__button button:hover span {
  font-weight: 700;
  letter-spacing: 0.03em;
}
.call__container .call__form .call__button button span {
  transition: all 0.2s ease 0s;
}

.footer {
  padding-top: 1.455026455vw;
  padding-bottom: 3.7037037037vw;
}
.footer__container {
  max-width: 82.8042328042vw;
  width: 100%;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  margin-bottom: 7.2751322751vw;
}
.footer__top-img {
  width: 4.2328042328vw;
  height: 4.2328042328vw;
}
.footer__top-img img {
  width: 100%;
}
.footer__top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4.2328042328vw;
  flex: 1;
}
.footer__top-menu ul {
  display: flex;
  margin-bottom: 0;
}
.footer__top-menu ul li {
  font-weight: 400;
  font-size: 2.1164021164vw;
  line-height: 129%;
  color: #FFE6D1;
}
.footer__top-menu ul li:not(:last-child) {
  margin-right: 5.9523809524vw;
}
.footer__bottom {
  display: flex;
  justify-content: center;
}
.footer__bottom a {
  width: 30.4232804233vw;
}
.footer__bottom a img {
  width: 100%;
}

.footer__main {
  background: #921A00;
}