@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldCondensed.eot");
  src: local("Helvetica Neue Condensed Bold"), local("HelveticaNeueBoldCondensed"), url("/fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("/fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("/fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackCondensed.eot");
  src: local("Helvetica Neue Condensed Black"), local("HelveticaNeueBlackCondensed"), url("/fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("/fonts/HelveticaNeueBlackCondensed.woff") format("woff"), url("/fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("/fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"), url("/fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("/fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-MediumItalic.eot");
  src: local("HelveticaNeueCyr-MediumItalic"), url("/fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-MediumItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-LightItalic.eot");
  src: local("HelveticaNeueCyr-LightItalic"), url("/fonts/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-HeavyItalic.eot");
  src: local("HelveticaNeueCyr-HeavyItalic"), url("/fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-HeavyItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-HeavyItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Black.eot");
  src: local("HelveticaNeueCyr-Black"), url("/fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Heavy.eot");
  src: local("HelveticaNeueCyr-Heavy"), url("/fonts/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Heavy.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("/fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-BlackItalic.eot");
  src: local("HelveticaNeueCyr-BlackItalic"), url("/fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-BlackItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-UltraLightItalic.eot");
  src: local("HelveticaNeueCyr-UltraLightItalic"), url("/fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-BoldItalic.eot");
  src: local("HelveticaNeueCyr-BoldItalic"), url("/fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-ThinItalic.eot");
  src: local("HelveticaNeueCyr-ThinItalic"), url("/fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-ThinItalic.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-UltraLight.eot");
  src: local("HelveticaNeueCyr-UltraLight"), url("/fonts/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("/fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Thin.eot");
  src: local("HelveticaNeueCyr-Thin"), url("/fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("/fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("/fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
body.lock {
  overflow: hidden;
}

.call__button {
  width: 100%;
  display: flex;
  justify-content: end;
}
.call__button button {
  width: 19.0476190476vw;
  height: 4.7619047619vw;
  background: #9F1D00;
  border-radius: 0.4761904762vw;
  font-weight: 500;
  font-size: 1.5238095238vw;
  line-height: 129%;
  text-transform: uppercase;
  color: #FFEEE0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.call__button button:hover {
  filter: drop-shadow(0px 0px 15px #E10000);
}
.call__button button:hover span {
  font-weight: 700;
  letter-spacing: 0.03em;
}
.call__button button span {
  transition: all 0.2s ease 0s;
}

.f_breadcrumb {
  display: flex;
  align-items: center;
  margin-top: 2.380952381vw;
}
.f_breadcrumb div {
  width: 0.2380952381vw;
  height: 0.2380952381vw;
  border-radius: 50%;
  margin-left: 2.380952381vw;
  margin-right: 2.380952381vw;
  background: #492E18;
}
.f_breadcrumb a {
  font-size: 0.9523809524vw;
  line-height: 97.3%;
  color: rgba(73, 46, 24, 0.5);
}
.f_breadcrumb a:last-child {
  color: #492E18;
}

main {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
  font-family: "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b69d89;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(12, 12, 12, 0.1);
}
.header__container {
  padding: 0.9523809524vw 0;
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 479.98px) {
  .header__container {
    max-width: 84.6153846154vw;
    padding: 0;
  }
}
@media (min-width: 480px) {
  .header__menu-pc {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 479.98px) {
  .header__menu-pc {
    display: none;
  }
}
.header__logo {
  width: 11.2857142857vw;
}
.header__logo img {
  width: 100%;
}
.header__menu {
  margin-left: 5.1904761905vw;
  display: flex;
  align-items: center;
}
.header__menu a {
  position: relative;
  line-height: 1;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.9523809524vw;
  line-height: 97.3%;
  color: #341E0B;
  margin-right: 4.2857142857vw;
  transition: all 0.3s ease 0s;
}
.header__menu a:last-child {
  margin-right: 0;
}
.header__menu a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: rgb(204, 51, 18); /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.header__menu a:hover {
  color: rgb(204, 51, 18);
}
.header__menu a:hover:after, .header__menu a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.header__inst {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 2.1428571429vw;
  height: 2.1428571429vw;
  padding: 0.2380952381vw;
}
.header__inst svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}
.header__inst svg {
  stroke-width: 100%;
  fill: rgba(73, 46, 24, 0.8);
  transition: all 0.3s ease 0s;
}
.header__inst svg:hover {
  fill: rgb(204, 51, 18);
  transition: all 0.3s ease 0s;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 10.2564102564vw;
  align-items: center;
}
@media (min-width: 480px) {
  .header__body {
    display: none;
  }
}
@media (max-width: 479.98px) {
  .header__body {
    display: flex;
  }
}
.header__body-inst {
  width: 4.358974359vw;
  height: 4.358974359vw;
}
.header__body-inst img {
  width: 100%;
}
.header__log {
  max-width: 20.5128205128vw;
  width: 100%;
}
.header__log img {
  width: 100%;
}
.header__burger {
  position: relative;
  width: 5.1282051282vw;
  height: 3.3333333333vw;
  z-index: 3000;
}
.header__burger span {
  position: absolute;
  background-color: #341E0B;
  left: 0;
  width: 100%;
  height: 1px;
  top: 1.5384615385vw;
  transition: all 0.3s ease 0s;
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: #341E0B;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
  background-color: rgba(255, 230, 209, 0.6);
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 1.5384615385vw;
  background-color: rgba(255, 230, 209, 0.6);
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 1.5384615385vw;
  background-color: rgba(255, 230, 209, 0.6);
}
.header__menu-mobile {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #3D2A1B;
  border-bottom-right-radius: 12.8205128205vw;
  padding: 10.2564102564vw 0;
  transition: all 0.3s ease 0s;
}
.header__menu-mobile.active {
  top: 0;
}
.header__list li a {
  display: block;
  padding: 7.6923076923vw;
  font-weight: 400;
  font-size: 6.6666666667vw;
  line-height: 97.3%;
  color: #FFE6D1;
}
.header__list li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 230, 209, 0.2);
}
.inject {
  display: flex;
}
.inject__container {
  display: flex;
  max-width: 69.5238095238vw;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .inject__container {
    max-width: 84.6153846154vw;
    flex-direction: column;
  }
}
.inject__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12.1428571429vw;
}
@media (max-width: 479.98px) {
  .inject__info {
    margin-top: 22.5641025641vw;
  }
}
.inject__info h1 {
  font-size: 4.5714285714vw;
  color: #492E18;
}
@media (max-width: 479.98px) {
  .inject__info h1 {
    font-size: 8.2051282051vw;
    line-height: 97.3%;
    font-weight: 500;
    margin-bottom: 0;
  }
}
.inject__info-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 4.6666666667vw;
  margin-right: 1.0476190476vw;
}
@media (max-width: 479.98px) {
  .inject__info-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 10.5128205128vw;
  }
}
.inject__info-wrapper p {
  margin-top: 3.3333333333vw;
  margin-left: 0.3333333333vw;
  width: 21.6666666667vw;
  font-size: 1.3333333333vw;
  color: rgba(95, 61, 33, 0.8);
}
@media (max-width: 479.98px) {
  .inject__info-wrapper p {
    margin-top: 6.6666666667vw;
    font-size: 3.5897435897vw;
    width: 71.7948717949vw;
  }
}
.inject__info-wrapper > a {
  margin-top: -0.3333333333vw;
  margin-right: 0.9523809524vw;
  margin-left: auto;
  max-width: 12.4761904762vw;
  width: 100%;
  height: 12.4761904762vw;
  border: 1px solid #492E18;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
@media (max-width: 479.98px) {
  .inject__info-wrapper > a {
    position: absolute;
    bottom: -6.1538461538vw;
    right: 0;
    max-width: 16.9230769231vw;
    height: 16.9230769231vw;
  }
}
.inject__info-wrapper > a img {
  width: 60%;
}
.inject__info-wrapper > a:hover {
  transform: rotate(-45deg);
}
.inject__photo {
  margin-left: auto;
}
.inject__photo img {
  width: 100%;
}

.dr {
  margin-top: 7.1428571429vw;
}
.dr__container {
  max-width: 62.380952381vw;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 479.98px) {
  .dr__container {
    margin-top: 12.8205128205vw;
    flex-direction: column-reverse;
    max-width: 84.6153846154vw;
  }
}
.dr__left {
  max-width: 29.1904761905vw;
}
@media (max-width: 479.98px) {
  .dr__left {
    max-width: 83.6%;
    margin-top: 10.5128205128vw;
    margin-left: auto;
  }
}
.dr__left-wrapper {
  position: relative;
}
.dr__left-def {
  width: 100%;
}
.dr__left-abs {
  position: absolute;
  bottom: -5.3333333333vw;
  right: -5.7619047619vw;
  width: 16.1904761905vw;
}
@media (max-width: 479.98px) {
  .dr__left-abs {
    bottom: inherit;
    right: inherit;
    left: -21.5384615385vw;
    width: 39.2307692308vw;
    top: -17.1794871795vw;
  }
}
.dr__right {
  margin-left: auto;
  text-align: center;
}
@media (max-width: 479.98px) {
  .dr__right {
    margin-left: 0;
  }
}
.dr__right h2 {
  margin-top: -0.7142857143vw;
  font-style: italic;
  font-weight: 500;
  font-size: 3.0476190476vw;
  line-height: 97.3%;
  color: #492E18;
}
@media (max-width: 479.98px) {
  .dr__right h2 {
    font-size: 6.1538461538vw;
    text-align: left;
  }
}
.dr__right h3 {
  margin-top: 4.7619047619vw;
  color: #5F3D21;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5238095238vw;
  line-height: 97.3%;
}
@media (max-width: 479.98px) {
  .dr__right h3 {
    margin-top: 7.6923076923vw;
    font-size: 3.5897435897vw;
    text-align: right;
  }
}
.dr__right-list {
  margin-top: 4.7619047619vw;
  text-align: left;
  width: 19.2380952381vw;
  margin-left: 8.3333333333vw;
}
@media (max-width: 479.98px) {
  .dr__right-list {
    width: 100%;
    margin: 0;
    margin-top: 7.1794871795vw;
  }
}
.dr__right-list a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 5.7142857143vw;
  max-width: 8.6666666667vw;
  width: 100%;
  height: 8.6666666667vw;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  border: 2px solid #492E18;
}
@media (max-width: 479.98px) {
  .dr__right-list a {
    border: 1px solid #492E18;
    max-width: 17.6923076923vw;
    height: 17.6923076923vw;
    margin-top: 12.8205128205vw;
  }
}
.dr__right-list a img {
  width: 45%;
  transition: all 0.3s ease 0s;
}
.dr__right-list a:hover img {
  transform: rotate(-45deg);
}
.dr__right-list a p {
  position: absolute;
  bottom: 0;
  right: 1.1904761905vw;
  font-weight: 500;
  font-size: 1.3333333333vw;
  line-height: 159.5%;
  color: #492E18;
  width: 12.380952381vw;
  margin-bottom: 0;
}
@media (max-width: 479.98px) {
  .dr__right-list a p {
    right: 6.6666666667vw;
    width: 66.6666666667vw;
    text-align: right;
    font-size: 2.6923076923vw;
  }
}
.dr__right ul > li, .dr__right p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3333333333vw;
  line-height: 111.5%;
  color: rgba(73, 46, 24, 0.8);
}
@media (max-width: 479.98px) {
  .dr__right ul > li, .dr__right p {
    font-size: 3.5897435897vw;
    line-height: 111.5%;
    margin-bottom: 3.8461538462vw;
  }
  .dr__right ul > li br, .dr__right p br {
    display: none;
  }
}
.dr__right p {
  color: rgb(73, 46, 24);
}
.dr__right ul {
  margin-top: 1.4285714286vw;
}
.dr__right ul li {
  margin-left: 2vw;
  position: relative;
  margin-top: 1.4285714286vw;
}
@media (max-width: 479.98px) {
  .dr__right ul li {
    margin-left: 5.1282051282vw;
    color: rgba(73, 46, 24, 0.8);
  }
}
.dr__right ul li::before {
  content: "";
  position: absolute;
  top: 0.5714285714vw;
  left: -1.1904761905vw;
  display: flex;
  width: 0.380952381vw;
  height: 0.380952381vw;
  border-radius: 50%;
  background-color: rgba(73, 46, 24, 0.8);
}
@media (max-width: 479.98px) {
  .dr__right ul li::before {
    width: 0.7692307692vw;
    height: 0.7692307692vw;
    left: -3.0769230769vw;
    top: 1.2820512821vw;
  }
}

.services {
  margin-top: 3vw;
}
@media (max-width: 479.98px) {
  .services {
    margin-top: 12.8205128205vw;
  }
}
.services__container {
  width: 59.619047619vw;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .services__container {
    width: 84.6153846154vw;
  }
}
.services__container h2 {
  font-weight: 500;
  font-size: 4.5714285714vw;
  line-height: 115%;
  color: #5F3D21;
  margin-bottom: 4.380952381vw;
  padding-left: 0.4761904762vw;
}
@media (max-width: 479.98px) {
  .services__container h2 {
    font-size: 8.2051282051vw;
    margin-bottom: 10.2564102564vw;
  }
}
.services__wrapper {
  display: flex;
}
@media (max-width: 479.98px) {
  .services__wrapper {
    flex-direction: column;
  }
}
.services__left {
  margin-right: 2.5714285714vw;
  margin-left: auto;
}
.services__left ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__left ul li {
  text-align: right;
  margin-bottom: 2.2857142857vw;
}
@media (max-width: 479.98px) {
  .services__left ul li {
    margin-bottom: 8.7179487179vw;
  }
}
.services__left ul li a {
  padding-right: 3.380952381vw;
  position: relative;
  font-size: 1.5238095238vw;
  line-height: 97.3%;
  color: #492E18;
}
@media (max-width: 479.98px) {
  .services__left ul li a {
    font-size: 4.1025641026vw;
    padding-right: 7.9487179487vw;
  }
}
.services__left ul li a::before {
  position: absolute;
  top: -0.4761904762vw;
  right: 0;
  content: "";
  display: inline-block;
  width: 2.1428571429vw;
  height: 2.1428571429vw;
  background: url("../img/arrow_3.svg") center/contain no-repeat;
  transition: all 0.2s ease 0s;
}
@media (max-width: 479.98px) {
  .services__left ul li a::before {
    top: -1.0256410256vw;
    width: 5.641025641vw;
    height: 5.641025641vw;
  }
}
.services__left ul li a:hover::before {
  transform: rotate(45deg);
  top: -0.1428571429vw;
}
@media (max-width: 479.98px) {
  .services__left ul li a:hover::before {
    transform: rotate(0deg);
  }
}
.services__right {
  max-width: 29.3333333333vw;
  width: 100%;
  position: relative;
}
@media (max-width: 479.98px) {
  .services__right {
    max-width: 100%;
  }
}
.services__right img {
  width: 100%;
}
.services__right a {
  position: absolute;
  left: -6.6666666667vw;
  bottom: -3.0952380952vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.7142857143vw;
  max-width: 8.6666666667vw;
  width: 100%;
  height: 8.6666666667vw;
  margin-left: auto;
  border-radius: 50%;
  border: 2px solid #492E18;
}
@media (max-width: 479.98px) {
  .services__right a {
    position: static;
    max-width: 23.3333333333vw;
    height: 23.3333333333vw;
    border: 1px solid #492E18;
    margin-top: 10.2564102564vw;
  }
}
.services__right a img {
  width: 50%;
  transition: all 0.3s ease 0s;
}
.services__right a:hover img {
  transform: rotate(-46deg);
}
.services__right a p {
  position: absolute;
  margin-bottom: -0.1428571429vw;
  bottom: 0;
  right: 3.4285714286vw;
  font-weight: 500;
  font-size: 1.5238095238vw;
  line-height: 159.5%;
  color: #492E18;
}
@media (max-width: 479.98px) {
  .services__right a p {
    font-size: 4.1025641026vw;
    right: 8.9743589744vw;
  }
}

.learn {
  margin-top: 10.380952381vw;
}
@media (max-width: 479.98px) {
  .learn {
    margin-top: 25.641025641vw;
  }
}
.learn__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .learn__container {
    max-width: 84.6153846154vw;
  }
}
.learn__br {
  display: none;
}
@media (max-width: 479.98px) {
  .learn__br {
    display: block;
  }
}
.learn__title {
  width: 45.2380952381vw;
  font-weight: 500;
  font-size: 3.0476190476vw;
  line-height: 97.3%;
  color: #492E18;
  margin-bottom: 3.5714285714vw;
}
@media (max-width: 479.98px) {
  .learn__title {
    font-size: 6.1538461538vw;
    width: 100%;
    line-height: 100%;
    margin-bottom: 12.8205128205vw;
  }
}
.learn__title span {
  text-transform: uppercase;
  color: rgb(204, 51, 18);
}
.learn__text {
  width: 44.2857142857vw;
  font-weight: 400;
  font-size: 1.5238095238vw;
  line-height: 120.3%;
  color: rgba(73, 46, 24, 0.8);
  margin-bottom: 3.5714285714vw;
}
@media (max-width: 479.98px) {
  .learn__text {
    font-size: 3.5897435897vw;
    width: 100%;
    margin-bottom: 12.8205128205vw;
  }
}
.learn__table {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5714285714vw;
}
@media (max-width: 479.98px) {
  .learn__table {
    margin-bottom: 14.1025641026vw;
  }
}
.learn__table__br-b1 {
  display: none;
}
@media (max-width: 479.98px) {
  .learn__table__br-b1 {
    display: block;
  }
}
.learn__table-b1, .learn__table-b2, .learn__table-b3 {
  font-weight: 500;
  font-size: 1.5238095238vw;
  line-height: 100.5%;
  text-align: center;
  color: #492E18;
  border: 1px solid #CC3312;
  padding-top: 3.2380952381vw;
  padding-bottom: 3.2380952381vw;
}
@media (max-width: 479.98px) {
  .learn__table-b1, .learn__table-b2, .learn__table-b3 {
    font-size: 3.0769230769vw;
  }
}
.learn__table-b1 {
  width: 19.8571428571vw;
}
@media (max-width: 479.98px) {
  .learn__table-b1 {
    width: 28.2051282051vw;
  }
}
.learn__table-b2 {
  width: 17.5714285714vw;
}
@media (max-width: 479.98px) {
  .learn__table-b2 {
    width: 24.8717948718vw;
    padding-top: 4.1025641026vw;
    line-height: 120%;
  }
}
.learn__table-b3 {
  width: 22.1904761905vw;
}
@media (max-width: 479.98px) {
  .learn__table-b3 {
    width: 31.5384615385vw;
  }
}
.learn__br-sub {
  display: none;
}
@media (max-width: 479.98px) {
  .learn__br-sub {
    display: block;
  }
}
.learn__subtext {
  margin-left: auto;
  width: 34.7619047619vw;
  font-size: 1.5238095238vw;
  line-height: 120.3%;
  text-align: right;
  color: rgba(73, 46, 24, 0.8);
  margin-bottom: 3.5714285714vw;
}
@media (max-width: 479.98px) {
  .learn__subtext {
    width: 60vw;
    font-size: 3.5897435897vw;
    margin-bottom: 12.8205128205vw;
  }
}
.learn__button a {
  position: relative;
  max-width: 8.6666666667vw;
  height: 8.6666666667vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #492E18;
  margin-left: auto;
}
@media (max-width: 479.98px) {
  .learn__button a {
    border: 1px solid #492E18;
    max-width: 17.4358974359vw;
    height: 17.4358974359vw;
    margin-left: 16.4102564103vw;
  }
}
.learn__button a img {
  width: 48%;
  transition: all 0.3s ease 0s;
}
.learn__button a:hover img {
  transform: rotate(-46deg);
}
.learn__button a p {
  position: absolute;
  width: 13.8095238095vw;
  bottom: 0;
  right: 3.0952380952vw;
  font-weight: 500;
  font-size: 1.5238095238vw;
  line-height: 159.5%;
  color: #492E18;
  margin-bottom: 0;
}
@media (max-width: 479.98px) {
  .learn__button a p {
    font-size: 3.0769230769vw;
    width: 29.4871794872vw;
  }
}

.subs {
  margin-top: 7.1428571429vw;
}
@media (max-width: 479.98px) {
  .subs {
    margin-top: 25.641025641vw;
  }
}
.subs__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .subs__container {
    max-width: 84.6153846154vw;
  }
}
.subs__container h3 {
  font-weight: 500;
  font-size: 3.0476190476vw;
  line-height: 97.3%;
  color: #492E18;
}
@media (max-width: 479.98px) {
  .subs__container h3 {
    font-size: 6.1538461538vw;
    max-width: 80%;
    margin-bottom: 7.6923076923vw;
  }
}
.subs__slider {
  position: relative;
  margin-top: 2.380952381vw;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.subs__slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.8095238095vw;
  height: 23.8095238095vw;
  padding: 1.5238095238vw 2.1904761905vw;
  background: linear-gradient(91.55deg, rgba(238, 221, 205, 0.5) 1.01%, rgba(255, 246, 237, 0.5) 98.45%);
  box-shadow: 0.1904761905vw 0.1904761905vw 0.3333333333vw rgba(73, 46, 24, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 1.4285714286vw;
}
@media (max-width: 479.98px) {
  .subs__slider-item {
    width: 64.1025641026vw;
    height: 64.1025641026vw;
    padding: 5.8974358974vw;
    border-radius: 3.8461538462vw;
    box-shadow: 0.5128205128vw 0.5128205128vw 0.8974358974vw rgba(73, 46, 24, 0.2);
  }
}
.subs__slider-item p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.1428571429vw;
  text-align: center;
  line-height: 133.3%;
  color: #492E18;
}
@media (max-width: 479.98px) {
  .subs__slider-item p {
    font-size: 3.0769230769vw;
  }
}
.subs__slider .slick-list {
  overflow: hidden;
}
.subs__slider .slick-track {
  display: flex;
}
.subs__slider .slick-slide {
  margin-right: 0.7142857143vw;
}
@media (max-width: 479.98px) {
  .subs__slider .slick-slide {
    margin-right: 3.8461538462vw;
  }
}
.subs__slider .slick-arrow {
  position: absolute;
  top: -3.0952380952vw;
  right: 0;
  font-size: 0;
  width: 3.8095238095vw;
  height: 0.7619047619vw;
}
@media (max-width: 479.98px) {
  .subs__slider .slick-arrow {
    width: 10.2564102564vw;
    height: 2.0512820513vw;
    top: -8.9743589744vw;
  }
}
.subs__slider .slick-arrow.slick-prev {
  transform: rotate(180deg);
  background: url("../img/arrow-right.svg") center/contain no-repeat;
  right: 9.5238095238vw;
}
@media (max-width: 479.98px) {
  .subs__slider .slick-arrow.slick-prev {
    right: 18.4615384615vw;
  }
}
.subs__slider .slick-arrow.slick-next {
  background: url("../img/arrow-right.svg") center/contain no-repeat;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  max-width: 72vw;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .gallery__container {
    max-width: 100%;
  }
}
.gallery__wrapper {
  margin-top: 7.1428571429vw;
  display: flex;
}
@media (max-width: 479.98px) {
  .gallery__wrapper {
    margin-top: 25.641025641vw;
  }
}
.gallery__b1 {
  margin-right: 0.9523809524vw;
}
@media (max-width: 479.98px) {
  .gallery__b1 {
    margin-right: 1.2820512821vw;
  }
}
.gallery__b1-img1 {
  max-width: 20.380952381vw;
  width: 100%;
}
@media (max-width: 479.98px) {
  .gallery__b1-img1 {
    max-width: 30.7692307692vw;
  }
}
.gallery__b1-img1 img {
  width: 100%;
}
.gallery__b1-img2 {
  max-width: 14.1904761905vw;
  width: 100%;
  margin-top: 0.7619047619vw;
  margin-left: auto;
}
@media (max-width: 479.98px) {
  .gallery__b1-img2 {
    max-width: 30.7692307692vw;
    margin-top: 21.2820512821vw;
  }
}
.gallery__b1-img2 img {
  width: 100%;
}
@media (max-width: 479.98px) {
  .gallery__b1-img2 img:first-child {
    display: none;
  }
}
.gallery__b1-img2 img:last-child {
  display: none;
}
@media (max-width: 479.98px) {
  .gallery__b1-img2 img:last-child {
    display: block;
  }
}
.gallery__b2 {
  margin-right: 0.9523809524vw;
}
@media (max-width: 479.98px) {
  .gallery__b2 {
    margin-right: 1.2820512821vw;
  }
}
.gallery__b2-img1 {
  max-width: 29.3333333333vw;
  width: 100%;
}
@media (max-width: 479.98px) {
  .gallery__b2-img1 {
    max-width: 35.8974358974vw;
  }
}
.gallery__b2-img1 img {
  width: 100%;
}
@media (max-width: 479.98px) {
  .gallery__b2-img1 img:first-child {
    display: none;
  }
}
.gallery__b2-img1 img:last-child {
  display: none;
}
@media (max-width: 479.98px) {
  .gallery__b2-img1 img:last-child {
    display: block;
  }
}
.gallery__b2-text {
  max-width: 29.3333333333vw;
  padding: 0 2.380952381vw;
  width: 100%;
  margin-top: 0.8095238095vw;
  margin-bottom: 0.8571428571vw;
}
@media (max-width: 479.98px) {
  .gallery__b2-text {
    max-width: 35.8974358974vw;
    margin-top: 7.1794871795vw;
    margin-bottom: 6.9230769231vw;
    position: relative;
    height: 18.7179487179vw;
  }
}
.gallery__b2-text p {
  font-weight: 400;
  font-size: 1.7142857143vw;
  line-height: 124%;
  text-align: center;
  color: #492E18;
  margin-bottom: 0;
  position: absolute;
  left: -3.8461538462vw;
}
@media (max-width: 479.98px) {
  .gallery__b2-text p {
    font-size: 3.5897435897vw;
    position: absolute;
    width: 43.5897435897vw;
    line-height: 140%;
  }
}
.gallery__b2-text p a {
  font-weight: 700;
  color: rgb(204, 51, 18);
}
.gallery__b2-img2 {
  max-width: 29.3333333333vw;
  width: 100%;
}
@media (max-width: 479.98px) {
  .gallery__b2-img2 {
    max-width: 35.8974358974vw;
  }
}
.gallery__b2-img2 img {
  width: 100%;
}
@media (max-width: 479.98px) {
  .gallery__b2-img2 img:first-child {
    display: none;
  }
}
.gallery__b2-img2 img:last-child {
  display: none;
}
@media (max-width: 479.98px) {
  .gallery__b2-img2 img:last-child {
    display: block;
  }
}
.gallery__b3-img1 {
  max-width: 14.0476190476vw;
  width: 100%;
  margin-bottom: 0.7619047619vw;
}
@media (max-width: 479.98px) {
  .gallery__b3-img1 {
    max-width: 30.7692307692vw;
  }
}
.gallery__b3-img1 img {
  width: 100%;
}
@media (max-width: 479.98px) {
  .gallery__b3-img1 img:first-child {
    display: none;
  }
}
.gallery__b3-img1 img:last-child {
  display: none;
}
@media (max-width: 479.98px) {
  .gallery__b3-img1 img:last-child {
    display: block;
  }
}
.gallery__b3-img2 {
  max-width: 20.380952381vw;
  width: 100%;
}
@media (max-width: 479.98px) {
  .gallery__b3-img2 {
    max-width: 30.7692307692vw;
    margin-top: 21.2820512821vw;
  }
}
.gallery__b3-img2 img {
  width: 100%;
}
.gallery__btn {
  margin-top: 2.380952381vw;
  margin-right: 7.4761904762vw;
  margin-left: auto;
  position: relative;
}
@media (max-width: 479.98px) {
  .gallery__btn {
    margin-right: 11.2820512821vw;
    margin-top: 7.6923076923vw;
  }
}
.gallery__btn span {
  display: inline-block;
  font-weight: 700;
  font-size: 1.7142857143vw;
  line-height: 160%;
  letter-spacing: 0.08em;
  color: #492E18;
}
@media (max-width: 479.98px) {
  .gallery__btn span {
    font-size: 4.6153846154vw;
  }
}
.gallery__btn img {
  position: absolute;
  width: 8.0476190476vw;
  right: -1.2857142857vw;
  bottom: -0.2380952381vw;
  transition: all 0.3s ease 0s;
}
@media (max-width: 479.98px) {
  .gallery__btn img {
    width: 21.7948717949vw;
    right: -3.8461538462vw;
  }
}
.gallery__btn:hover img {
  right: -2.8571428571vw;
  transform: scaleY(1.15);
}

.ques {
  margin-top: 7.1428571429vw;
}
@media (max-width: 479.98px) {
  .ques {
    margin-top: 25.641025641vw;
  }
}
.ques__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .ques__container {
    max-width: 84.6153846154vw;
  }
}
.ques h3 {
  font-weight: 500;
  font-size: 3.0476190476vw;
  line-height: 3.7142857143vw;
  color: #492E18;
  margin-bottom: 2.380952381vw;
}
@media (max-width: 479.98px) {
  .ques h3 {
    font-size: 5.641025641vw;
    line-height: 6.9230769231vw;
    margin-bottom: 3.8461538462vw;
    font-weight: 700;
  }
}
.ques .card,
.ques .card-header {
  background: transparent;
  border: none;
  border-radius: 0;
}
.ques .card {
  border-top: 0.0476190476vw solid #CC3312;
}
.ques .card:last-child {
  border-bottom: 0.0476190476vw solid #CC3312;
}
.ques .card-header {
  padding: 0;
}
.ques .accordion .card-header button {
  position: relative;
}
.ques .accordion .card-header button:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 3.8095238095vw;
  height: 3.8095238095vw;
  background: url("../img/line.svg") center/contain no-repeat;
  float: right;
  transition: 0.2s;
}
@media (max-width: 479.98px) {
  .ques .accordion .card-header button:after {
    width: 5.641025641vw;
    height: 5.641025641vw;
  }
}
.ques .accordion .card-header button.collapsed:after {
  background: url("../img/double.svg") center/contain no-repeat;
}
.ques .btn {
  font-weight: 500;
  font-size: 1.7142857143vw;
  line-height: 129%;
  color: #492E18;
  padding: 2.380952381vw 4.7619047619vw 2.380952381vw 0;
}
@media (max-width: 479.98px) {
  .ques .btn {
    padding: 5.1282051282vw 12.3076923077vw 5.1282051282vw 0;
    font-size: 3.5897435897vw;
  }
}
.ques .btn-link {
  text-decoration: none;
}
.ques .btn.focus, .ques .btn:focus {
  outline: 0;
  box-shadow: none;
}
.ques .card-body {
  font-weight: 400;
  font-size: 1.619047619vw;
  line-height: 140%;
  color: #492E18;
  padding: 0 0 2.380952381vw;
}
@media (max-width: 479.98px) {
  .ques .card-body {
    font-size: 3.3333333333vw;
    padding-bottom: 5.1282051282vw;
    padding-right: 7.6923076923vw;
  }
}

.call {
  margin-top: 7.1428571429vw;
  padding-bottom: 11.9047619048vw;
}
@media (max-width: 479.98px) {
  .call {
    margin-top: 25.641025641vw;
    padding-bottom: 25.641025641vw;
  }
}
.call__container {
  max-width: 52.380952381vw;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .call__container {
    max-width: 84.6153846154vw;
  }
}
.call__container h3 {
  font-weight: 500;
  font-size: 2vw;
  line-height: 2.380952381vw;
  color: #492E18;
  margin-bottom: 2.8571428571vw;
}
@media (max-width: 479.98px) {
  .call__container h3 {
    font-size: 4.1025641026vw;
    line-height: 5.1282051282vw;
    text-align: center;
    margin-bottom: 7.6923076923vw;
  }
}
.call__container h3 .call__br {
  display: none;
}
@media (max-width: 479.98px) {
  .call__container h3 .call__br {
    display: block;
  }
}
.call__container .call__form {
  width: 100%;
}
.call__container .call__form .call__input,
.call__container .call__form .call__comments {
  width: 100%;
}
.call__container .call__form .call__input input,
.call__container .call__form .call__input textarea,
.call__container .call__form .call__comments input,
.call__container .call__form .call__comments textarea {
  color: rgb(159, 29, 0);
  border: 1px solid #492E18;
  padding: 1.1904761905vw 1.4285714286vw;
  font-weight: 400;
  font-size: 1.4285714286vw;
  line-height: 129%;
  width: 100%;
  background-color: transparent;
  margin-bottom: 1.9047619048vw;
}
.call__container .call__form .call__input input::-moz-placeholder, .call__container .call__form .call__input textarea::-moz-placeholder, .call__container .call__form .call__comments input::-moz-placeholder, .call__container .call__form .call__comments textarea::-moz-placeholder {
  color: rgba(159, 29, 0, 0.7);
}
.call__container .call__form .call__input input::placeholder,
.call__container .call__form .call__input textarea::placeholder,
.call__container .call__form .call__comments input::placeholder,
.call__container .call__form .call__comments textarea::placeholder {
  color: rgba(159, 29, 0, 0.7);
}
@media (max-width: 479.98px) {
  .call__container .call__form .call__input input,
  .call__container .call__form .call__input textarea,
  .call__container .call__form .call__comments input,
  .call__container .call__form .call__comments textarea {
    padding: 3.0769230769vw 2.5641025641vw;
    font-size: 3.0769230769vw;
    margin-bottom: 1.2820512821vw;
  }
}
.call__container .call__form .call__comments textarea {
  height: 9.5238095238vw;
  margin-bottom: 3.3333333333vw;
}
.call__container .call__form .call__comments textarea::-moz-placeholder {
  color: rgba(159, 29, 0, 0.7);
}
.call__container .call__form .call__comments textarea::placeholder {
  color: rgba(159, 29, 0, 0.7);
}
@media (max-width: 479.98px) {
  .call__container .call__form .call__comments textarea {
    height: 20.5128205128vw;
    margin-bottom: 7.6923076923vw;
  }
}
.call__container .call__form .call__button {
  width: 100%;
  display: flex;
  justify-content: end;
}
.call__container .call__form .call__button button {
  width: 19.0476190476vw;
  height: 4.7619047619vw;
  background: #9F1D00;
  border-radius: 0.4761904762vw;
  font-weight: 500;
  font-size: 1.5238095238vw;
  line-height: 129%;
  text-transform: uppercase;
  color: #FFEEE0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
}
@media (max-width: 479.98px) {
  .call__container .call__form .call__button button {
    width: 40.2564102564vw;
    height: 10vw;
    font-size: 3.0769230769vw;
    border-radius: 0.7692307692vw;
  }
}
.call__container .call__form .call__button button:hover {
  filter: drop-shadow(0px 0px 15px #E10000);
}
@media (max-width: 479.98px) {
  .call__container .call__form .call__button button:hover {
    filter: drop-shadow(0px 0px 5px #E10000);
  }
}
.call__container .call__form .call__button button:hover span {
  font-weight: 700;
  letter-spacing: 0.03em;
}
.call__container .call__form .call__button button span {
  transition: all 0.2s ease 0s;
}

.footer {
  padding-top: 1.0476190476vw;
  padding-bottom: 2.6666666667vw;
}
@media (max-width: 479.98px) {
  .footer {
    padding-top: 5.1282051282vw;
    padding-bottom: 5.1282051282vw;
  }
}
.footer__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .footer__container {
    max-width: 84.6153846154vw;
    display: flex;
  }
}
.footer__top {
  display: flex;
  margin-bottom: 5.2380952381vw;
}
@media (max-width: 479.98px) {
  .footer__top {
    margin-bottom: 0;
    align-items: center;
  }
}
.footer__top-img {
  width: 2.5714285714vw;
  height: 2.5714285714vw;
}
@media (max-width: 479.98px) {
  .footer__top-img {
    width: 6.6666666667vw;
    height: 6.6666666667vw;
  }
}
.footer__top-img img {
  width: 100%;
}
.footer__top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3.0476190476vw;
  flex: 1;
}
@media (max-width: 479.98px) {
  .footer__top-menu {
    display: none;
  }
}
.footer__top-menu nav {
  display: flex;
  margin-bottom: 0;
}
.footer__top-menu nav a {
  position: relative;
  font-weight: 400;
  font-size: 1.1428571429vw;
  line-height: 129%;
  color: #FFE6D1;
  margin-right: 4.2857142857vw;
}
.footer__top-menu nav a:last-child {
  margin-right: 0;
}
.footer__top-menu nav a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #FFE6D1; /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.footer__top-menu nav a:hover:after, .footer__top-menu nav a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.footer__bottom {
  display: flex;
  justify-content: center;
}
@media (max-width: 479.98px) {
  .footer__bottom {
    margin-left: 12.8205128205vw;
  }
}
.footer__bottom a {
  width: 19.0476190476vw;
}
@media (max-width: 479.98px) {
  .footer__bottom a {
    display: flex;
    align-items: center;
    width: 45.8974358974vw;
  }
}
.footer__bottom a img {
  width: 100%;
}

.footer__main {
  background: #921A00;
}

.header__education {
  background: #FFE9D8;
}

.main__edu {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
  overflow: hidden;
}

.edu {
  background: url("../img/ed-bg.png") top/cover no-repeat;
}
.edu__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
.edu__container h1 {
  padding-top: 10.0952380952vw;
  font-weight: 400;
  font-size: 4.5714285714vw;
  line-height: 97.3%;
  color: #FFEEE0;
  max-width: 43.8095238095vw;
  width: 100%;
}
.edu__container h2 {
  margin: 0 auto;
  margin-top: 7.8571428571vw;
  padding-bottom: 4.5238095238vw;
  max-width: 35.7142857143vw;
  width: 100%;
  font-style: italic;
  font-size: 2.2857142857vw;
  line-height: 97.3%;
  color: #FFEEE0;
}

.me {
  padding-top: 4.7619047619vw;
  padding-bottom: 4.7619047619vw;
}
.me__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
.me h3 {
  font-weight: 500;
  font-size: 2.2857142857vw;
  line-height: 97.3%;
  color: #341E0B;
  margin-bottom: 2.380952381vw;
}
.me__wrapper {
  display: flex;
}
.me__left {
  max-width: 37.1428571429vw;
  width: 100%;
}
.me__left ul li {
  margin-left: 1.7142857143vw;
  font-size: 1.7142857143vw;
  line-height: 115%;
  color: #492E18;
  position: relative;
}
.me__left ul li::before {
  content: "";
  position: absolute;
  top: 0.7619047619vw;
  left: -1.1904761905vw;
  display: flex;
  width: 0.3333333333vw;
  height: 0.3333333333vw;
  border-radius: 50%;
  background-color: rgb(73, 46, 24);
}
.me__left ul li span {
  text-transform: uppercase;
}
.me__left ul div {
  width: 97%;
  margin-left: -0.8571428571vw;
  border-bottom: 1px solid rgba(159, 29, 0, 0.5);
  margin-top: 0.9523809524vw;
  margin-bottom: 0.9523809524vw;
}
.me__right {
  width: 21.1428571429vw;
  margin-left: 0.9523809524vw;
}
.me__right div {
  width: 30.1904761905vw;
  height: 30.1904761905vw;
  border-radius: 50%;
  overflow: hidden;
}
.me__right div img {
  width: 100%;
  margin-top: -0.7619047619vw;
}

.in {
  padding-top: 3.3333333333vw;
  padding-bottom: 2.8571428571vw;
  background: linear-gradient(90deg, #271A0E 0%, rgba(149, 126, 108, 0.71) 100%);
}
.in__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.in__container .in__star1 {
  position: absolute;
  top: 0.7142857143vw;
  right: 1.4285714286vw;
  width: 12.7619047619vw;
  height: 12.7619047619vw;
  filter: blur(1.5px);
}
.in__container .in__star2 {
  position: absolute;
  top: 8.8095238095vw;
  right: -2.380952381vw;
  width: 7.1904761905vw;
  height: 7.1904761905vw;
  filter: blur(1px);
}
.in__container .in__star3 {
  position: absolute;
  top: 15.7142857143vw;
  right: 4.5238095238vw;
  width: 4.5238095238vw;
  height: 4.5238095238vw;
  filter: blur(1.5px);
}
.in h2 {
  font-weight: 500;
  font-size: 3.0476190476vw;
  line-height: 97.3%;
  color: #FFECDD;
  margin-bottom: 3.8095238095vw;
}
.in__list {
  max-width: 42.1428571429vw;
  width: 100%;
}
.in__list-show {
  position: relative;
  z-index: 1;
}
.in__list-show p {
  position: relative;
  margin-top: -0.4761904762vw;
  margin-bottom: 0;
  background: linear-gradient(90deg, #32251A, #7E6D5F);
  border-radius: 1.4285714286vw;
  font-weight: 400;
  font-size: 1.7142857143vw;
  line-height: 120.3%;
  color: rgba(255, 236, 221, 0.8);
  width: 100%;
  padding: 0.9523809524vw 0.9523809524vw 1.9047619048vw;
  padding-left: 3.3333333333vw;
  box-shadow: 0px 0.2380952381vw 0.4761904762vw rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}
.in__list-show p::after {
  content: "";
  position: absolute;
  top: 1.7142857143vw;
  left: 2vw;
  display: flex;
  width: 0.3333333333vw;
  height: 0.3333333333vw;
  border-radius: 50%;
  background-color: rgba(255, 236, 221, 0.8);
}
.in__list-show p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.4285714286vw;
  padding: 1px;
  background: linear-gradient(180deg, rgb(255, 230, 209), rgba(255, 230, 209, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transform: translate3d(0, 0, 100px);
}
.in__list-show p:nth-child(2) {
  z-index: 10;
  transform: translate3d(0, 0, 200px);
}
.in__list-show p:nth-child(3) {
  z-index: 20;
  transform: translate3d(0, 0, 300px);
}
.in__list-show p:nth-child(4) {
  z-index: 30;
  transform: translate3d(0, 0, 400px);
}
.in__list-show p:nth-child(5) {
  z-index: 40;
  transform: translate3d(0, 0, 500px);
}
.in__list-show p:nth-child(6) {
  z-index: 50;
  transform: translate3d(0, 0, 600px);
}
.in__list-show p:nth-child(7) {
  z-index: 60;
  transform: translate3d(0, 0, 700px);
}
.in__list-show p:nth-child(8) {
  z-index: 70;
  transform: translate3d(0, 0, 800px);
}
.in__list-show p:nth-child(9) {
  z-index: 80;
  transform: translate3d(0, 0, 900px);
}
.in__list-show p:nth-child(10) {
  z-index: 90;
  transform: translate3d(0, 0, 1000px);
}
.in__list-show p:nth-child(11) {
  z-index: 100;
  transform: translate3d(0, 0, 1100px);
}
.in__list-show p:nth-child(12) {
  z-index: 110;
  transform: translate3d(0, 0, 1200px);
}
.in__list-show p:nth-child(13) {
  z-index: 120;
  transform: translate3d(0, 0, 1300px);
}
.in__list-show p:nth-child(14) {
  z-index: 130;
  transform: translate3d(0, 0, 1400px);
}
.in__list-show p:nth-child(15) {
  z-index: 140;
  transform: translate3d(0, 0, 1500px);
}
.in__list-show .in__showed {
  position: relative;
  z-index: 55;
  display: none;
}
.in__list-show .in__button {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 3.3333333333vw;
  cursor: pointer;
}
.in__list-show .in__button-img {
  width: 5.4285714286vw;
  height: 5.4285714286vw;
  background: url("../img/plus.svg") center/cover no-repeat;
}
.in__list-show .in__button-img-toggle {
  background: url("../img/minus.svg") center/cover no-repeat;
}
.in__list-show .in__button-text {
  position: relative;
}
.in__list-show .in__button-text::after {
  position: absolute;
  left: -0.7142857143vw;
  bottom: 0.5714285714vw;
  width: 8.8095238095vw;
  height: 1.4285714286vw;
  content: "Увидеть больше";
  font-size: 1.1428571429vw;
  line-height: 120.3%;
  color: rgba(255, 236, 221, 0.8);
}
.in__list-show .in__button-text-toggle {
  position: relative;
}
.in__list-show .in__button-text-toggle::after {
  position: absolute;
  content: "Скрыть";
}

.feedback {
  padding-top: 7.1428571429vw;
  padding-bottom: 9.5238095238vw;
}
.feedback__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
.feedback__container h2 {
  font-weight: 500;
  font-size: 3.0476190476vw;
  line-height: 97.3%;
  color: #492E18;
  margin-bottom: 4.7619047619vw;
}
.feedback .feedbackSlider {
  position: relative;
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.feedback .feedbackSlider .slick-list {
  overflow: hidden;
}
.feedback .feedbackSlider .slick-track {
  display: flex;
}
.feedback .feedbackSlider .slick-slide {
  margin: 0 0.380952381vw;
}
.feedback .feedbackSlider .slick-arrow {
  position: absolute;
  bottom: -4.7619047619vw;
  right: 0;
  font-size: 0;
  width: 4.7619047619vw;
  height: 0.9523809524vw;
}
.feedback .feedbackSlider .slick-arrow.slick-prev {
  transform: rotate(180deg);
  background: url("../img/arrow-right.svg") center/contain no-repeat;
  left: 0;
}
.feedback .feedbackSlider .slick-arrow.slick-next {
  background: url("../img/arrow-right.svg") center/contain no-repeat;
}
.feedback__main {
  display: flex;
}
.feedback__main-img {
  max-width: 29.3333333333vw;
  width: 100%;
}
.feedback__main-img img {
  width: 100%;
}
.feedback__main-text {
  max-width: 26.4285714286vw;
  width: 100%;
  margin-left: 3.8095238095vw;
  flex: 1 0;
}
.feedback__main-text h3 {
  font-weight: 500;
  font-size: 2.2857142857vw;
  line-height: 97.3%;
  color: #CC3312;
  margin-bottom: 2.380952381vw;
}
.feedback__main-text p {
  margin-bottom: 0;
  font-size: 1.1428571429vw;
  line-height: 128.8%;
  color: rgba(73, 46, 24, 0.8);
}

.ques2 {
  margin-top: 0;
}
.ques2__ty {
  margin-top: 4.2857142857vw;
}
.ques2__ty a {
  margin-right: 5.8095238095vw;
  position: relative;
  margin-left: auto;
  max-width: 9.1428571429vw;
  height: 9.1428571429vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #492E18;
}
.ques2__ty a img {
  width: 45%;
  transition: all 0.3s ease 0s;
}
.ques2__ty a:hover img {
  transform: rotate(-45deg);
}
.ques2__ty a span {
  position: absolute;
  bottom: -0.5714285714vw;
  right: -5.9047619048vw;
  font-weight: 500;
  font-size: 1.7142857143vw;
  line-height: 159.5%;
  color: #492E18;
}

.call2 {
  padding-bottom: 8.3333333333vw;
}

.footer__edu {
  background: #3D2A1B;
}

.main__services {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
}

.service {
  padding-top: 4.3333333333vw;
  padding-bottom: 4.7619047619vw;
}
.service__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
.service__h2 {
  margin-top: 4.7619047619vw;
  margin-bottom: 2.619047619vw;
  font-size: 4.5714285714vw;
  line-height: 97.3%;
  color: #492E18;
  padding-left: 0;
}
.service .accordion .card,
.service .accordion .card-header {
  background: transparent;
  border: none;
  border-radius: 0;
}
.service .accordion .card {
  border-top: 1px solid #CC3312;
  padding: 2.8571428571vw 0;
}
.service .accordion .card:first-child {
  border-top: none;
}
.service .accordion .card-header {
  padding: 0;
}
.service .accordion .card-body {
  padding: 0;
  padding-top: 2.380952381vw;
}
.service .accordion .card-body li {
  display: flex;
  justify-content: space-between;
}
.service .accordion .card-body li p {
  margin-bottom: 1.4285714286vw;
}
.service .accordion .card-body li p:first-child {
  font-size: 1.9047619048vw;
  line-height: 107.5%;
  color: #492E18;
}
.service .accordion .card-body li p:first-child span {
  font-size: 1.9047619048vw;
  color: rgba(73, 46, 24, 0.8);
}
.service .accordion .card-body li p:last-child {
  width: 24.380952381vw;
  font-style: italic;
  font-weight: 400;
  font-size: 1.9047619048vw;
  line-height: 107.5%;
  color: #492E18;
}
.service .accordion .card-body li:last-child p {
  margin-bottom: 0;
}
.service .accordion .accordion .card-header button {
  position: relative;
}
.service .accordion .btn-link {
  text-decoration: none;
  padding: 0;
}
.service .accordion .btn.focus, .service .accordion .btn:focus {
  outline: 0;
  box-shadow: none;
}
.service__accord {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__accord h3 {
  font-size: 1.9047619048vw;
  font-weight: 500;
  line-height: 97.3%;
  color: #492E18;
  margin-bottom: 0;
}
.service__accord-wrap {
  position: relative;
  width: 24.380952381vw;
}
.service__accord-wrap-text {
  font-style: italic;
  font-weight: 400;
  font-size: 1.9047619048vw;
  line-height: 97.3%;
  color: #492E18;
  margin-bottom: 0;
}
.service__accord-arrow {
  width: 5.2380952381vw;
  height: 1.0476190476vw;
  position: absolute;
  right: 0;
  top: 0.4761904762vw;
  transition: all 0.3s ease 0s;
}
.service__accord-arrow img {
  width: 100%;
}
.service .accordion button:not(.collapsed) .service__accord-arrow {
  transform: rotate(90deg);
  transition: all 0.3s ease 0s;
  top: 1.9047619048vw;
  right: -1.6666666667vw;
}
.service__btn a {
  position: relative;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 12.380952381vw;
  height: 12.380952381vw;
  margin-top: 2.380952381vw;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #492E18;
}
.service__btn a:hover img {
  transform: rotate(-46deg);
}
.service__btn a img {
  width: 42%;
  transition: all 0.3s ease 0s;
}
.service__btn a span {
  position: absolute;
  bottom: 0vw;
  left: -5.2380952381vw;
  font-weight: 500;
  font-size: 2.2857142857vw;
  line-height: 159.5%;
  color: #492E18;
}

.footer__services {
  background: #FFE9D8;
}
.footer__services nav a {
  color: #492E18;
}
.footer__services nav a::after {
  background-color: #492E18;
}

.works-line {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 4.7619047619vw;
}

.works,
.works2,
.works3 {
  padding-top: 4.3333333333vw;
}
.works .bread__container,
.works2 .bread__container,
.works3 .bread__container {
  max-width: 59.619047619vw;
  width: 100%;
  margin: 0 auto;
}
.works__container, .works__container2, .works__container3,
.works2__container,
.works2__container2,
.works2__container3,
.works3__container,
.works3__container2,
.works3__container3 {
  max-width: 47.619047619vw;
  width: 100%;
  margin: 0 auto;
}
.works__h2,
.works2__h2,
.works3__h2 {
  margin-top: 4.7619047619vw;
  margin-bottom: 3.8095238095vw;
  font-size: 3.8095238095vw;
  line-height: 97.3%;
  color: #492E18;
  padding-left: 0;
}
.works__slider1, .works__slider2, .works__slider3,
.works2__slider1,
.works2__slider2,
.works2__slider3,
.works3__slider1,
.works3__slider2,
.works3__slider3 {
  position: relative;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.works__slider1-item, .works__slider2-item, .works__slider3-item,
.works2__slider1-item,
.works2__slider2-item,
.works2__slider3-item,
.works3__slider1-item,
.works3__slider2-item,
.works3__slider3-item {
  width: 47.619047619vw;
}
.works__slider1-item img, .works__slider2-item img, .works__slider3-item img,
.works2__slider1-item img,
.works2__slider2-item img,
.works2__slider3-item img,
.works3__slider1-item img,
.works3__slider2-item img,
.works3__slider3-item img {
  width: 100%;
}
.works__slider1 .slick-list, .works__slider2 .slick-list, .works__slider3 .slick-list,
.works2__slider1 .slick-list,
.works2__slider2 .slick-list,
.works2__slider3 .slick-list,
.works3__slider1 .slick-list,
.works3__slider2 .slick-list,
.works3__slider3 .slick-list {
  overflow: hidden;
}
.works__slider1 .slick-track, .works__slider2 .slick-track, .works__slider3 .slick-track,
.works2__slider1 .slick-track,
.works2__slider2 .slick-track,
.works2__slider3 .slick-track,
.works3__slider1 .slick-track,
.works3__slider2 .slick-track,
.works3__slider3 .slick-track {
  display: flex;
}
.works__slider1 .slick-slide, .works__slider2 .slick-slide, .works__slider3 .slick-slide,
.works2__slider1 .slick-slide,
.works2__slider2 .slick-slide,
.works2__slider3 .slick-slide,
.works3__slider1 .slick-slide,
.works3__slider2 .slick-slide,
.works3__slider3 .slick-slide {
  margin-right: 0.7142857143vw;
}
.works__slider1 .slick-arrow, .works__slider2 .slick-arrow, .works__slider3 .slick-arrow,
.works2__slider1 .slick-arrow,
.works2__slider2 .slick-arrow,
.works2__slider3 .slick-arrow,
.works3__slider1 .slick-arrow,
.works3__slider2 .slick-arrow,
.works3__slider3 .slick-arrow {
  position: absolute;
  top: 50%;
  right: -7.619047619vw;
  font-size: 0;
  width: 4.7619047619vw;
  height: 1.0476190476vw;
}
.works__slider1 .slick-arrow.slick-prev, .works__slider2 .slick-arrow.slick-prev, .works__slider3 .slick-arrow.slick-prev,
.works2__slider1 .slick-arrow.slick-prev,
.works2__slider2 .slick-arrow.slick-prev,
.works2__slider3 .slick-arrow.slick-prev,
.works3__slider1 .slick-arrow.slick-prev,
.works3__slider2 .slick-arrow.slick-prev,
.works3__slider3 .slick-arrow.slick-prev {
  transform: rotate(180deg);
  background: url("../img/arrow-work.svg") center/contain no-repeat;
  left: -7.619047619vw;
}
.works__slider1 .slick-arrow.slick-next, .works__slider2 .slick-arrow.slick-next, .works__slider3 .slick-arrow.slick-next,
.works2__slider1 .slick-arrow.slick-next,
.works2__slider2 .slick-arrow.slick-next,
.works2__slider3 .slick-arrow.slick-next,
.works3__slider1 .slick-arrow.slick-next,
.works3__slider2 .slick-arrow.slick-next,
.works3__slider3 .slick-arrow.slick-next {
  background: url("../img/arrow-work.svg") center/contain no-repeat;
}
@media (max-width: 479.98px) {
  .works {
    padding-top: 10.2564102564vw;
  }
}

.works2,
.works3 {
  padding-top: 0;
}

.works3 {
  padding-bottom: 11.9047619048vw;
}