@import 'null';
@import 'fonts';

$w: (100vw / 2100);

.call__button {
  width: 100%;
  display: flex;
  justify-content: end;

  button {
    width: ($w * 400);
    height: ($w * 100);
    background: #9F1D00;
    border-radius: ($w * 10);
    font-weight: 500;
    font-size: ($w * 32);
    line-height: 129%;
    text-transform: uppercase;
    color: #FFEEE0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease 0s;

    &:hover {
      filter: drop-shadow(0px 0px 15px #E10000);

      span {
        font-weight: 700;
        letter-spacing: 0.03em;
      }
    } 

    span {
      transition: all .2s ease 0s;
    }
  }
}

main {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
  font-family: 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b69d89;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

// header
.header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(12, 12, 12, 0.1);
  
  &__container {
    padding: ($w * 20) 0;
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: ($w * 237);

    img {
      width: 100%;
    }
  }

  &__menu {
    margin-left: ($w * 109);
    display: flex;
    align-items: center;

    a {
      position: relative;
      line-height: 1;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: ($w * 20);
      line-height: 97.3%;
      color: #341E0B;
      margin-right: ($w * 90);
      transition: all .3s ease 0s;

      &:last-child {
        margin-right: 0;
      }

      &:after {
        display: block;
        position: absolute;
        left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
        width: 0;/*задаём длинну линии до наведения курсора*/
        height: 2px; /*задаём ширину линии*/
        background-color: rgb(204, 51, 18);; /*задаём цвет линии*/
        content: "";
        transition: width 0.3s ease-out; /*задаём время анимации*/
      }

      &:hover {
        color: rgb(204, 51, 18);
      }
      
      &:hover:after,
      &:focus:after {
        width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
      }
    }
  }

  &__inst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: ($w * 45);
    height: ($w * 45);
    padding: ($w * 5);

    svg path {
      fill:inherit;
      stroke:inherit;
      stroke-width:inherit;
    }
    svg {
      stroke-width: 100%;
      fill: rgba(73, 46, 24, 0.8);
      transition: all .3s ease 0s;

      &:hover {
        fill:red;
        transition: all .3s ease 0s;
      }
    }
  }
}

.inject {
  display: flex;

  &__container {
    display: flex;
    max-width: ($w * 1460);
    width: 100%;
    margin: 0 auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: ($w * 255);

    h1 {
      font-size: ($w * 96);
      color: #492E18;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: ($w * 98);
    margin-right: ($w * 22);

    p {
      margin-top: ($w * 70);
      margin-left: ($w * 7);
      width: ($w * 455);
      font-size: ($w * 28);
      color: rgba(95, 61, 33, 0.8);
    }

    & > div {
      margin-top: ($w * -7);
      margin-right: ($w * 20);
      margin-left: auto;
      max-width: ($w * 262);
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &__photo {
    margin-left: auto;

    img {
      width: 100%;
    }
  }
}

.dr {
  margin-top: ($w * 150);

  &__container {
    max-width: ($w * 1310);
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  &__left {
    max-width: ($w * 613);

    &-wrapper {
      position: relative;
    }

    &-def {
      width: 100%;
    }
    &-abs {
      position: absolute;
      bottom: ($w * -112);
      right: ($w * -121);
      width: ($w * 340);
    }
  }

  &__right {
    margin-left: auto;
    text-align: center;

    h2 {
      margin-top: ($w * -15);
      font-style: italic;
      font-weight: 500;
      font-size: ($w * 64);
      line-height: 97.3%;
      color: #492E18;
    }

    h3 {
      margin-top: ($w * 100);
      color: #5F3D21;
      font-style: italic;
      font-weight: 300;
      font-size: ($w * 32);
      line-height: 97.3%;
    }

    &-list {
      margin-top: ($w * 100);
      text-align: left;
      width: ($w * 404);
      margin-left: ($w * 175);

      a {
        position: relative;
        display: flex;
        margin-left: auto;
        margin-top: ($w * 120);
        max-width: ($w * 182);
        width: 100%;
  
        img {
          width: 100%;
        }
  
        p {
          position: absolute;
          bottom: 0;
          right: ($w * 25);
          font-weight: 500;
          font-size: ($w * 28);
          line-height: 159.5%;
          color: #492E18;
          width: ($w * 260);
          margin-bottom: 0;
        }
      }
    }
    
    ul > li, p {
      font-style: normal;
      font-weight: 400;
      font-size: ($w * 28);
      line-height: 111.5%;
      color: rgba(73, 46, 24, 0.8);
    }

    p {
      color: rgba(73, 46, 24, 1);
    }

    ul {
      margin-top: ($w * 30);

      li {
        margin-left: ($w * 42);
        position: relative;
        margin-top: ($w * 30);

        &::before {
          content: '';
          position: absolute;
          top: ($w * 12);
          left: ($w * -25);
          display: flex;
          width: ($w * 8);
          height: ($w * 8);
          border-radius: 50%;
          background-color: rgba(73, 46, 24, 0.8);
        }
      }
    }
  }
}

.services {
  margin-top: ($w * 63);

  &__container {
    width: ($w * 1252);
    margin: 0 auto;

    h2 {
      font-weight: 500;
      font-size: ($w * 96);
      line-height: 115%;
      color: #5F3D21;
      margin-bottom: ($w * 92);
      padding-left: ($w * 10);
    }
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    margin-right: ($w * 54);
    margin-left: auto;
      
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        text-align: right;
        margin-bottom: ($w * 48);

        a {
          padding-right: ($w * 71);
          position: relative;
          font-size: ($w * 32);
          line-height: 97.3%;
          color: #492E18;

          &::before {
            position: absolute;
            top: ($w * -10);
            right: 0;
            content: '';
            display: inline-block;
            width: ($w * 45);
            height: ($w * 45);
            background: url('../img/arrow_3.svg') center / contain no-repeat;
            transition: all .2s ease 0s;
          }

          &:hover {
           
            &::before {
              transform: rotate(45deg);
              top: ($w * -3);
            }
          }
        }
      }
    }
  }

  &__right {
    max-width: ($w * 616);
    width: 100%;
    position: relative;

    img {
      width: 100%;
    }

    a {
      position: absolute;
      left: ($w * -126);
      bottom: ($w * -60);
      display: flex;
      margin-top: ($w * 120);
      max-width: ($w * 182);
      width: 100%;
      margin-left: auto;

      img {
        width: 100%;
      }

      p {
        position: absolute;
        margin-bottom: ($w * -3);
        bottom: 0;
        right: ($w * 72);
        font-weight: 500;
        font-size: ($w * 32);
        line-height: 159.5%;
        color: #492E18;
      }
    }
  }
}

.learn {
  margin-top: ($w * 218);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    width: ($w * 950);
    font-weight: 500;
    font-size: ($w * 64);
    line-height: 97.3%;
    color: #492E18;
    margin-bottom: ($w * 75);

    span {
      text-transform: uppercase;
      color: rgba(204, 51, 18, 1);
    }
  }

  &__text {
    width: ($w * 930);
    font-weight: 400;
    font-size: ($w * 32);
    line-height: 120.3%;
    color: rgba(73, 46, 24, 0.8);
    margin-bottom: ($w * 75);

    
  }

  &__table {
    display: flex;
    justify-content: center;
    margin-bottom: ($w * 75);

    &-b1,
    &-b2,
    &-b3 {
      font-weight: 500;
      font-size: ($w * 32);
      line-height: 100.5%;
      text-align: center;
      color: #492E18;
      border: 1px solid #CC3312;
      padding-top: ($w * 68);
      padding-bottom: ($w * 68);
    }

    &-b1 {
      width: ($w * 417);
    }
    &-b2 {
      width: ($w * 369);
    }
    &-b3 {
      width: ($w * 466);
    }
  }

  &__subtext {
    margin-left: auto;
    width: ($w * 730);
    font-size: ($w * 32);
    line-height: 120.3%;
    text-align: right;
    color: rgba(73, 46, 24, 0.8);
    margin-bottom: ($w * 75);
  }

  &__button {
    display: flex;
    justify-content: end;
    margin-left: auto;

    a {
      position: relative;
      max-width: ($w * 182);
      width: 100%;

      img {
        width: 100%;
      }

      p {
        position: absolute;
        width: ($w * 290);
        bottom: 0;
        right: ($w * 65);
        font-weight: 500;
        font-size: ($w * 32);
        line-height: 159.5%;
        color: #492E18;
        margin-bottom: 0;
      }
    }
  }
}

.subs {
  margin-top: ($w * 150);

  &__container {
     max-width: ($w * 1252);
     width: 100%;
     margin: 0 auto;

    h3 {
      font-weight: 500;
      font-size: ($w * 64);
      line-height: 97.3%;
      color: #492E18;
    }
  }

  &__slider {
    position: relative;
    margin-top: ($w * 50);

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: ($w * 500);
      height: ($w * 500);
      padding: ($w * 32) ($w * 46);
      background: linear-gradient(91.55deg, rgba(238, 221, 205, 0.5) 1.01%, rgba(255, 246, 237, 0.5) 98.45%);
      box-shadow: ($w * 4) ($w * 4) ($w * 7) rgba(73, 46, 24, 0.2);
      backdrop-filter: blur(2px);
      border-radius: ($w * 30);

      p {
        margin-bottom: 0;
        font-weight: 400;
        font-size: ($w * 24);
        text-align: center;
        line-height: 133.3%;
        color: #492E18;
      }
    }

    /* Слайдер */
    .slick-slider{}
    /* Слайдер запущен */
    .slick-slider.slick-initialized{}
    /* Слайдер с точками */
    .slick-slider.slick-dotted{}
    /* Ограничивающая оболочка */
    .slick-list {
      overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track{
      display: flex;
    }
    /* Слайд */
    .slick-slide{
      margin-right: ($w * 15);
    }
    /* Слайд активный (показывается) */
    .slick-slide.slick-active{}
    /* Слайд основной */
    .slick-slide.slick-current{}
    /* Слайд по центру */
    .slick-slide.slick-center{}
    /* Клонированный слайд */
    .slick-slide.slick-cloned{}
    /* Стрелка */
    .slick-arrow{
      position: absolute;
      top: ($w * -65);
      right: 0;
      font-size: 0;
      width: ($w * 80);
      height: ($w * 16);
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev{
      transform: rotate(180deg);
      background: url('../img/arrow-right.svg') center / contain no-repeat;
      right: ($w * 200);
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      background: url('../img/arrow-right.svg') center / contain no-repeat;
    }
    /* Стрелка не активная */
    .slick-arrow.slick-disabled{}
    /* Точки (булиты) */
    .slick-dots{}
    .slick-dots li{}
    /* Активная точка */
    .slick-dots li.slick-active{}
    /* Элемент точки */
    .slick-dots li button{}
  }
}

.gallery {

  &__container {
    display: flex;
    flex-direction: column;
    max-width: ($w * 1512);
    width: 100%;
    margin: 0 auto;
  }
  
  &__wrapper {
    margin-top: ($w * 150);
    display: flex;
  }

  &__b1 {
    margin-right: ($w * 20);

    &-img1 {
      max-width: ($w * 428);
      width: 100%;

      img {
        width: 100%;
      }
    }

    &-img2 {
      max-width: ($w * 298);
      width: 100%;
      margin-top: ($w * 16);
      margin-left: auto;

      img {
        width: 100%;
      }
    }
  }

  &__b2 {
    margin-right: ($w * 20);
    
    &-img1 {
      max-width: ($w * 616);
      width: 100%;

      img {
        width: 100%;
      }
    }

    &-text {
      max-width: ($w * 616);
      padding: 0 ($w * 50);
      width: 100%;

      p {
        font-weight: 400;
        font-size: ($w * 36);
        line-height: 124%;
        text-align: center;
        color: #492E18;
        margin-top: ($w * 17);
        margin-bottom: ($w * 18);
       
        a {
          font-weight: 700;
          color: rgba(204, 51, 18, 1);
        }
      }
    }

    &-img2 {
      max-width: ($w * 616);
      width: 100%;
  
      img {
        width: 100%;
      }
    }
  }

  

  &__b3 {

    &-img1 {
      max-width: ($w * 295);
      width: 100%;
      margin-bottom: ($w * 16);

      img {
        width: 100%;
      }
    }

    &-img2 {
      max-width: ($w * 428);
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &__btn {
    margin-top: ($w * 50);
    margin-right: ($w * 157);
    margin-left: auto;
    position: relative;

    span {
      display: inline-block;
      font-weight: 700;
      font-size: ($w * 36);
      line-height: 160%;
      letter-spacing: 0.08em;
      color: #492E18;
    }

    img {
      position: absolute;
      width: ($w * 169);
      right: ($w * -27);
      bottom: ($w * -5);
      transition: all .3s ease 0s;
    }

    &:hover {

      img {
        right: ($w * -60);
        transform: scaleY(1.15);
      }
    }
  }
}


.ques {
  margin-top: ($w * 150);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
  }

  h3 {
    font-weight: 500;
    font-size: ($w * 64);
    line-height: ($w * 78);
    color: #492E18;
    margin-bottom: ($w * 50);
  }

  .card,
  .card-header {
    background: transparent;
    border: none;
    border-radius: 0;
  }

  .card {
    border-top: ($w * 1) solid #CC3312;

    &:last-child {
      border-bottom: ($w * 1) solid #CC3312;
    }
  }

  .card-header {
    padding: 0;
  }

  .accordion .card-header button {
    position: relative;
  }

  .accordion .card-header button:after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: ($w * 80);
    height: ($w * 80);
    background: url('../img/line.svg') center / contain no-repeat;
    float: right;
    transition: .2s;
  }

  .accordion .card-header button.collapsed:after {
    background: url('../img/double.svg') center / contain no-repeat;
  }

  .btn {
    font-weight: 500;
    font-size: ($w * 36);
    line-height: 129%;
    color: #492E18;
    padding: ($w * 50) ($w * 100) ($w * 50) 0;
  }

  .btn-link {
    text-decoration: none;
  }

  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none; 
  }

  .card-body {
    font-weight: 400;
    font-size: ($w * 34);
    line-height: 140%;
    color: #492E18;
    padding: 0 0 ($w * 50);
  }
}

.call {
  margin-top: ($w * 150);
  padding-bottom: ($w * 250);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;

    h3 {
      font-weight: 500;
      font-size: ($w * 48);
      line-height: ($w * 59);
      color: #492E18;
      margin-bottom: ($w * 100);
    }

    .call__form {
      width: 100%;

      .call__input,
      .call__comments {
        width: 100%;

        input,
        textarea {
          color: rgba(159, 29, 0, 1);
          border: 1px solid #492E18;
          padding: ($w * 35) ($w * 40);
          font-weight: 400;
          font-size: ($w * 32);
          line-height: 129%;
          width: 100%;
          background-color: transparent;
          margin-bottom: ($w * 40);
  
          &::placeholder {
            color: rgba(159, 29, 0, 0.7);
          }
        }
      }

      .call__comments {

        textarea {
          height: ($w * 240);
          margin-bottom: ($w * 100);
  
          &::placeholder {
            color: rgba(159, 29, 0, 0.7);
          }
        }
      }

      .call__button {
        width: 100%;
        display: flex;
        justify-content: end;

        button {
          width: ($w * 400);
          height: ($w * 100);
          background: #9F1D00;
          border-radius: ($w * 10);
          font-weight: 500;
          font-size: ($w * 32);
          line-height: 129%;
          text-transform: uppercase;
          color: #FFEEE0;
          margin-left: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease 0s;

          &:hover {
            filter: drop-shadow(0px 0px 15px #E10000);

            span {
              font-weight: 700;
              letter-spacing: 0.03em;
            }
          }

          span {
            transition: all .2s ease 0s;
          }
        }
      }
    }
  }
}

.footer {
  padding-top: ($w * 22);
  padding-bottom: ($w * 56);
   
  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    margin-bottom: ($w * 110);

    &-img {
      width: ($w * 54);
      height: ($w * 54);

      img {
        width: 100%;
      }
    }

    &-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: ($w * 64);
      flex: 1;

      nav {
        display: flex;
        margin-bottom: 0;
          
        a {
          position: relative;
          font-weight: 400;
          font-size: ($w * 24);
          line-height: 129%;          
          color: #FFE6D1;
          margin-right: ($w * 90);
          
          &:last-child {
            margin-right: 0;
          }
    
          &:after {
            display: block;
            position: absolute;
            left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
            width: 0;/*задаём длинну линии до наведения курсора*/
            height: 2px; /*задаём ширину линии*/
            background-color: #FFE6D1; /*задаём цвет линии*/
            content: "";
            transition: width 0.3s ease-out; /*задаём время анимации*/
          }
          
          &:hover:after,
          &:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;

    a {
      width: ($w * 400);

      img {
        width: 100%;
      }
    }
  }
}

.footer__main {
  background: #921A00;
}

// education
.header__education {
  background: #FFE9D8;
}

.main__edu {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
  overflow: hidden;
}

.edu {
  background: url("../img/ed-bg.png") top / cover no-repeat;

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;

    h1 {
      padding-top: ($w * 212);
      font-weight: 400;
      font-size: ($w * 96);
      line-height: 97.3%;
      color: #FFEEE0;
      max-width: ($w * 920);
      width: 100%;
    }

    h2 {
      margin: 0 auto;
      margin-top: ($w * 165);
      padding-bottom: ($w * 95);
      max-width: ($w * 750);
      width: 100%;
      font-style: italic;
      font-size: ($w * 48);
      line-height: 97.3%;
      color: #FFEEE0;
    }
  }
}

.me {
  padding-top: ($w * 100);
  padding-bottom: ($w * 100);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
  }

  h3 {
    font-weight: 500;
    font-size: ($w * 48);
    line-height: 97.3%;
    color: #341E0B;
    margin-bottom: ($w * 50);
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    max-width: ($w * 780);
    width: 100%;

    ul {

      li {
        margin-left: ($w * 36);
        font-size: ($w * 36);
        line-height: 115%;
        color: #492E18;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: ($w * 16);
          left: ($w * -25);
          display: flex;
          width: ($w * 7);
          height: ($w * 7);
          border-radius: 50%;
          background-color: rgba(73, 46, 24, 1);
        }

        span {
          text-transform: uppercase;
        }
      }
  
      div {
        width: 97%;
        margin-left: ($w * -18);
        border-bottom: 1px solid rgba(159, 29, 0, 0.5);
        margin-top: ($w * 20);
        margin-bottom: ($w * 20);
      }
    }
  }

  &__right {
    width: ($w * 444);
    margin-left: ($w * 20);

    div {
      width: ($w * 634);
      height: ($w * 634);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        margin-top: ($w * -16);
      }
    }
  }
}

.in {
  padding-top: ($w * 70);
  padding-bottom: ($w * 60);
  background: linear-gradient(90deg, #271A0E 0%, rgba(149, 126, 108, 0.71) 100%);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
    position: relative;

    .in__star1 {
      position: absolute;
      top: ($w * 15);
      right: ($w * 30);
      width: ($w * 268);
      height: ($w * 268);
      filter: blur(1.5px);
    }
    .in__star2 {
      position: absolute;
      top: ($w * 185);
      right: ($w * -50);
      width: ($w * 151);
      height: ($w * 151);
      filter: blur(1px);
    }
    .in__star3 {
      position: absolute;
      top: ($w * 330);
      right: ($w * 95);
      width: ($w * 95);
      height: ($w * 95);
      filter: blur(1.5px);
    }
  }

  h2 {
    font-weight: 500;
    font-size: ($w * 64);
    line-height: 97.3%;
    color: #FFECDD;
    margin-bottom: ($w * 80);
  }

  &__list {
    max-width: ($w * 885);
    width: 100%;

    &-show {
      position: relative;
      z-index: 1;

      p {
        position: relative;
        margin-top: ($w * -10);
        margin-bottom: 0;
        background: linear-gradient(90deg,#32251A ,#7E6D5F); ;
        border-radius: ($w * 30);
        font-weight: 400;
        font-size: ($w * 36);
        line-height: 120.3%;
        color: rgba(255, 236, 221, 0.8);
        width: 100%;
        padding: ($w * 20) ($w * 20) ($w * 40);
        padding-left: ($w * 70);
        box-shadow: 0px ($w * 5) ($w * 10) rgba(0, 0, 0, 0.19);

        &::after {
          content: '';
          position: absolute;
          top: ($w * 36);
          left: ($w * 42);
          display: flex;
          width: ($w * 7);
          height: ($w * 7);
          border-radius: 50%;
          background-color: rgba(255, 236, 221, 0.8);
        }

        &::before {
          content:"";
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          border-radius: ($w * 30); 
          padding:1px; 
          background:linear-gradient(180deg,rgba(255, 230, 209, 1),rgba(255, 230, 209, 0)); 
          -webkit-mask: 
             linear-gradient(#fff 0 0) content-box, 
             linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out; 
          mask-composite: exclude; 
        }

        &:nth-child(2) { z-index: 10; }
        &:nth-child(3) { z-index: 20; }
        &:nth-child(4) { z-index: 30; }
        &:nth-child(5) { z-index: 40; }
        &:nth-child(6) { z-index: 50; }
        &:nth-child(7) { z-index: 60; }
        &:nth-child(8) { z-index: 70; }
        &:nth-child(9) { z-index: 80; }
        &:nth-child(10) { z-index: 90; }
        &:nth-child(11) { z-index: 100; }
        &:nth-child(12) { z-index: 110; }
        &:nth-child(13) { z-index: 120; }
        &:nth-child(14) { z-index: 130; }
        &:nth-child(15) { z-index: 140; }
      }

      .in__showed {
        position: relative;
        z-index: 55;
        display: none;
      }

      .in__button {
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: ($w * 70);
        cursor: pointer;

        &-img {
          width: ($w * 114);
          height: ($w * 114);
          background: url("../img/plus.svg") center / cover no-repeat;
        }

        &-img-toggle {
          background: url("../img/minus.svg") center / cover no-repeat;
        }

        &-text {
          position: relative;

          &::after {
            position: absolute;
            left: ($w * -15);
            bottom: ($w * 12);
            width: ($w * 185);
            height: ($w * 30);
            content: "Увидеть больше";
            font-size: ($w * 24);
            line-height: 120.3%;
            color: rgba(255, 236, 221, 0.8);
          }
        }

        &-text-toggle {
          position: relative;

          &::after {
            position: absolute;
            content: "Скрыть";
          }
        }
      }
    }
  }
}

.feedback {
  padding-top: ($w * 150);
  padding-bottom: ($w * 200);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;

    h2 {
      font-weight: 500;
      font-size: ($w * 64);
      line-height: 97.3%;
      color: #492E18;
      margin-bottom: ($w * 100);
    }
  }

  .feedbackSlider {
    position: relative;

    .slick-slider{}
    /* Слайдер запущен */
    .slick-slider.slick-initialized{}
    /* Слайдер с точками */
    .slick-slider.slick-dotted{}
    /* Ограничивающая оболочка */
    .slick-list {
      overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track{
      display: flex;
    }
    /* Слайд */
    .slick-slide{
      margin: 0 ($w * 8);
    }
    /* Слайд активный (показывается) */
    .slick-slide.slick-active{}
    /* Слайд основной */
    .slick-slide.slick-current{}
    /* Слайд по центру */
    .slick-slide.slick-center{}
    /* Клонированный слайд */
    .slick-slide.slick-cloned{}
    /* Стрелка */
    .slick-arrow{
      position: absolute;
      bottom: ($w * -100);
      right: 0;
      font-size: 0;
      width: ($w * 100);
      height: ($w * 20);
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev{
      transform: rotate(180deg);
      background: url('../img/arrow-right.svg') center / contain no-repeat;
      left: 0;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      background: url('../img/arrow-right.svg') center / contain no-repeat;
    }
    /* Стрелка не активная */
    .slick-arrow.slick-disabled{}
    /* Точки (булиты) */
    .slick-dots{}
    .slick-dots li{}
    /* Активная точка */
    .slick-dots li.slick-active{}
    /* Элемент точки */
    .slick-dots li button{}
  }

  &__main {
    display: flex;

    &-img {
      max-width: ($w * 616);
      width: 100%;

      img {
        width: 100%;
      }
    }

    &-text {
      max-width: ($w * 555);
      width: 100%;
      margin-left: ($w * 80);
      flex: 1 0;

      h3 {
        font-weight: 500;
        font-size: ($w * 48);
        line-height: 97.3%;
        color: #CC3312;
        margin-bottom: ($w * 50);
      }

      p {
        margin-bottom: 0;
        font-size: ($w * 24);
        line-height: 128.8%;
        color: rgba(73, 46, 24, 0.8);
      }
    }
  }
}

.ques2 {
  margin-top: 0;

  &__ty {
    margin-top: ($w * 90);
    display: flex;
    justify-content: end;

    a {
      margin-right: ($w * 122);
      position: relative;
      max-width: ($w * 192);
      width: 100%;
      
      img {
        width: 100%;
      }

      span {
        position: absolute;
        bottom: ($w * -12);
        right: ($w * -124);
        font-weight: 500;
        font-size: ($w * 36);
        line-height: 159.5%;
        color: #492E18;
      }
    }
  }
}

.call2 {
  padding-bottom: ($w * 175);
}

.footer__edu {
  background: #3D2A1B;
}

.main__services {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
}

.service {
  padding-top: ($w * 91);
  padding-bottom: ($w * 100);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
  }

  &__breadcrumb {
    display: flex;
    align-items: center;
    margin-top: ($w * 50);

    div {
      width: ($w * 5);
      height: ($w * 5);
      border-radius: 50%;
      margin-left: ($w * 50);
      margin-right: ($w * 50);
      background: #492E18;
    }

    a {
      font-size: ($w * 20);
      line-height: 97.3%;
      color: rgba(73, 46, 24, 0.5);

      &:last-child {
        color: #492E18;
      }
    }
  }

  &__h2 {
    margin-top: ($w * 100);
    margin-bottom: ($w * 55);
    font-size: ($w * 96);
    line-height: 97.3%;
    color: #492E18;
    padding-left: 0;
  }

  .accordion {
    .card,
    .card-header {
      background: transparent;
      border: none;
      border-radius: 0;
    }

    .card {
      border-top: 1px solid #CC3312;
      padding: ($w * 60) 0;

      &:first-child {
        border-top: none;
      }
    }

    .card-header {
      padding: 0;
    }

    .card-body {
      padding: 0;
      padding-top: ($w * 50);

      li {
        display: flex;
        justify-content: space-between;

        p {
          margin-bottom: ($w * 30);

          &:first-child {
            font-size: ($w * 40);
            line-height: 107.5%;
            color: #492E18;

            span {
              font-size: ($w * 40);
              color: rgba(73, 46, 24, 0.8);
            }
          }
  
          &:last-child {
            width: ($w * 512);
            font-style: italic;
            font-weight: 400;
            font-size: ($w * 40);
            line-height: 107.5%;
            color: #492E18;
          }
        }

        &:last-child {

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    .accordion .card-header button {
      position: relative;
    }

    .btn-link {
      text-decoration: none;
      padding: 0;
    }
  
    .btn.focus, .btn:focus {
      outline: 0;
      box-shadow: none; 
    }
  }
  &__accord {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: ($w * 40);
      font-weight: 500;
      line-height: 97.3%;
      color: #492E18;
      margin-bottom: 0;
    }

    &-wrap {
      position: relative;
      width: ($w * 512);

      &-text {
        font-style: italic;
        font-weight: 400;
        font-size: ($w * 40);
        line-height: 97.3%;
        color: #492E18;
        margin-bottom: 0;
      }
    }

    &-arrow {
      width: ($w * 110);
      height: ($w * 22);
      position: absolute;
      right: 0;
      top: ($w * 10);
      transition: all .3s ease 0s;

      img {
        width: 100%;
      }
    }
  }

  .accordion {

    button:not(.collapsed) {

      .service__accord-arrow {
        transform: rotate(90deg);
        transition: all .3s ease 0s;
        top: ($w * 40);
        right: ($w * -35);
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: end;

    a {
      position: relative;
      max-width: ($w * 260);
      width: 100%;
      
      img {
        width: 100%;
      }

      span {
        position: absolute;
        bottom: ($w * 0);
        left: ($w * -110);
        font-weight: 500;
        font-size: ($w * 48);
        line-height: 159.5%;
        color: #492E18;
      }
    }
  }
}

.footer__services {
  background: #FFE9D8;

  nav a {
    color: #492E18;

    &::after {
      background-color: #492E18;
    }
  }
}

