@import 'null';
@import 'fonts';

$w: (100vw / 2100);
$wm: (100vw / 390);
$max: 479.98px;
$min: 480px;

body.lock {
  overflow: hidden;
}

.call__button {
  width: 100%;
  display: flex;
  justify-content: end;

  button {
    width: ($w * 400);
    height: ($w * 100);
    background: #9F1D00;
    border-radius: ($w * 10);
    font-weight: 500;
    font-size: ($w * 32);
    line-height: 129%;
    text-transform: uppercase;
    color: #FFEEE0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease 0s;

    &:hover {
      filter: drop-shadow(0px 0px 15px #E10000);

      span {
        font-weight: 700;
        letter-spacing: 0.03em;
      }
    } 

    span {
      transition: all .2s ease 0s;
    }
  }
}

.f_breadcrumb {
  display: flex;
  align-items: center;
  margin-top: ($w * 50);

  div {
    width: ($w * 5);
    height: ($w * 5);
    border-radius: 50%;
    margin-left: ($w * 50);
    margin-right: ($w * 50);
    background: #492E18;
  }

  a {
    font-size: ($w * 20);
    line-height: 97.3%;
    color: rgba(73, 46, 24, 0.5);

    &:last-child {
      color: #492E18;
    }
  }
}


main {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
  font-family: 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b69d89;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

// header
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(12, 12, 12, 0.1);
  
  &__container {
    padding: ($w * 20) 0;
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
    align-items: center;

    @media (max-width: $max) {
      max-width: ($wm * 330);
      padding: 0;
    }
  }

  &__menu-pc {
    
    @media (min-width: $min) {
      display: flex;
      align-items: center;
    };

    @media (max-width: $max) {
      display: none;
    }
  }

  &__logo {
    width: ($w * 237);

    img {
      width: 100%;
    }
  }

  &__menu {
    margin-left: ($w * 109);
    display: flex;
    align-items: center;

    a {
      position: relative;
      line-height: 1;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: ($w * 20);
      line-height: 97.3%;
      color: #341E0B;
      margin-right: ($w * 90);
      transition: all .3s ease 0s;

      &:last-child {
        margin-right: 0;
      }

      &:after {
        display: block;
        position: absolute;
        left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
        width: 0;/*задаём длинну линии до наведения курсора*/
        height: 2px; /*задаём ширину линии*/
        background-color: rgb(204, 51, 18);; /*задаём цвет линии*/
        content: "";
        transition: width 0.3s ease-out; /*задаём время анимации*/
      }

      &:hover {
        color: rgb(204, 51, 18);
      }
      
      &:hover:after,
      &:focus:after {
        width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
      }
    }
  }

  &__inst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: ($w * 45);
    height: ($w * 45);
    padding: ($w * 5);

    svg path {
      fill:inherit;
      stroke:inherit;
      stroke-width:inherit;
    }
    svg {
      stroke-width: 100%;
      fill: rgba(73, 46, 24, 0.8);
      transition: all .3s ease 0s;

      &:hover {
        fill:rgb(204, 51, 18);
        transition: all .3s ease 0s;
      }
    }
  }


  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(12, 12, 12, 0.1);
  //   z-index: 3000;
  // }

  // menu burger
  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: ($wm * 40);
    align-items: center;

    @media (min-width: $min) {
      display: none;
    }

    @media (max-width: $max) {
      display: flex;
    }

    &-inst {
      width: ($wm * 17);
      height: ($wm * 17);

      img {
        width: 100%;
      }
    }
  }

  &__log {
    max-width: ($wm * 80);
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__burger {
    position: relative;
    width: ($wm * 20);
    height: ($wm * 13);
    z-index: 3000;

    span {
      position: absolute;
      background-color: #341E0B;
      left: 0;
      width: 100%;
      height: 1px;
      top: ($wm * 6);
      transition: all .3s ease 0s;
    }

    &::before,
    &::after {
      content: '';
      background-color: #341E0B;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      transition: all .3s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    } 

    &.active span {
      transform: scale(0);
      background-color: rgba(255, 230, 209, 0.6);
    }

    &.active::before {
      transform: rotate(45deg);
      top: ($wm * 6);
      background-color: rgba(255, 230, 209, 0.6);
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: ($wm * 6);
      background-color: rgba(255, 230, 209, 0.6);
    }
  }

  &__menu-mobile {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #3D2A1B;
    border-bottom-right-radius: ($wm * 50);
    padding: ($wm * 40) 0;
    transition: all .3s ease 0s;
    
    &.active {
      top: 0;
    }
  }

  &__list {

    li {
      
      a {
        display: block;
        padding: ($wm * 30);
        font-weight: 400;
        font-size: ($wm * 26);
        line-height: 97.3%;
        color: #FFE6D1;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 230, 209, 0.2);
      }
    }
  }

  &__link {}
}

.inject {
  display: flex;

  &__container {
    display: flex;
    max-width: ($w * 1460);
    width: 100%;
    margin: 0 auto;

    @media (max-width: $max) {
      max-width: ($wm * 330);
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: ($w * 255);

    @media (max-width: $max) {
      margin-top: ($wm * 88);
    }

    h1 {
      font-size: ($w * 96);
      color: #492E18;

      @media (max-width: $max) {
        font-size: ($wm * 32);
        line-height: 97.3%;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: ($w * 98);
    margin-right: ($w * 22);

    @media (max-width: $max) {
      position: relative;
      padding: 0;
      margin: 0;
      margin-bottom: ($wm * 41);
    }

    p {
      margin-top: ($w * 70);
      margin-left: ($w * 7);
      width: ($w * 455);
      font-size: ($w * 28);
      color: rgba(95, 61, 33, 0.8);
      
      @media (max-width: $max) {
        margin-top: ($wm * 26);
        font-size: ($wm * 14);
        width: ($wm * 280);
      }
    }

    & > a {
      margin-top: ($w * -7);
      margin-right: ($w * 20);
      margin-left: auto;
      max-width: ($w * 262);
      width: 100%;
      height: ($w * 262);
      border: 1px solid #492E18;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s ease 0s;

      @media (max-width: $max) {
        position: absolute;
        bottom: ($wm * -24);
        right: 0;
        max-width: ($wm * 66);
        height: ($wm * 66);
      }

      img {
        width: 60%;
      }

      &:hover {
        transform: rotate(-45deg);
      }
    }
  }

  &__photo {
    margin-left: auto;

    img {
      width: 100%;
    }
  }
}

.dr {
  margin-top: ($w * 150);
  
  &__container {
    max-width: ($w * 1310);
    width: 100%;
    margin: 0 auto;
    display: flex;
    
    @media (max-width: $max) {
      margin-top: ($wm * 50);
      flex-direction: column-reverse;
      max-width: ($wm * 330);
    } 
  }

  &__left {
    max-width: ($w * 613);

    @media (max-width: $max) {
      max-width: 83.6%;
      margin-top: ($wm * 41);
      margin-left: auto;
    }

    &-wrapper {
      position: relative;
    }

    &-def {
      width: 100%;
    }
    &-abs {
      position: absolute;
      bottom: ($w * -112);
      right: ($w * -121);
      width: ($w * 340);
      
      @media (max-width: $max) {
        bottom: inherit;
        right: inherit;
        left: ($wm * -84);
        width: ($wm * 153);
        top: ($wm * -67);
      }
    }
  }

  &__right {
    margin-left: auto;
    text-align: center;

    @media (max-width: $max) {
      margin-left: 0;
    }

    h2 {
      margin-top: ($w * -15);
      font-style: italic;
      font-weight: 500;
      font-size: ($w * 64);
      line-height: 97.3%;
      color: #492E18;

      @media (max-width: $max) {
        font-size: ($wm * 24);
        text-align: left;
      }
    }
    
    h3 {
      margin-top: ($w * 100);
      color: #5F3D21;
      font-style: italic;
      font-weight: 300;
      font-size: ($w * 32);
      line-height: 97.3%;
      
      @media (max-width: $max) {
        margin-top: ($wm * 30);
        font-size: ($wm * 14);
        text-align: right;
      }
    }

    &-list {
      margin-top: ($w * 100);
      text-align: left;
      width: ($w * 404);
      margin-left: ($w * 175);
      
      @media (max-width: $max) {
        width: 100%;
        margin: 0;
        margin-top: ($wm * 28);
      }

      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-top: ($w * 120);
        max-width: ($w * 182);
        width: 100%;
        height: ($w * 182);
        transition: all .3s ease 0s;
        border-radius: 50%;
        border: 2px solid #492E18;
        
        @media (max-width: $max) {
          border: 1px solid #492E18;
          max-width: ($wm * 69);
          height: ($wm * 69);
          margin-top: ($wm * 50);
        }
  
        img {
          width: 45%;
          transition: all .3s ease 0s;
        }

        &:hover {

          img {
            transform: rotate(-45deg);
          }
        }
  
        p {
          position: absolute;
          bottom: 0;
          right: ($w * 25);
          font-weight: 500;
          font-size: ($w * 28);
          line-height: 159.5%;
          color: #492E18;
          width: ($w * 260);
          margin-bottom: 0;
          
          @media (max-width: $max) {
            right: ($wm * 26);
            width: ($wm * 260);
            text-align: right;
            font-size: ($wm * 10.5);
          }
        }
      }
    }
    
    ul > li, p {
      font-style: normal;
      font-weight: 400;
      font-size: ($w * 28);
      line-height: 111.5%;
      color: rgba(73, 46, 24, 0.8);

      @media (max-width: $max) {
        font-size: ($wm * 14);
        line-height: 111.5%;
        margin-bottom: ($wm * 15);

        br {
          display: none;
        }
      }
    }

    p {
      color: rgba(73, 46, 24, 1);
    }

    ul {
      margin-top: ($w * 30);

      li {
        margin-left: ($w * 42);
        position: relative;
        margin-top: ($w * 30);
        
        @media (max-width: $max) {
          margin-left: ($wm * 20);
          color: rgba(73, 46, 24, 0.8);
        }

        &::before {
          content: '';
          position: absolute;
          top: ($w * 12);
          left: ($w * -25);
          display: flex;
          width: ($w * 8);
          height: ($w * 8);
          border-radius: 50%;
          background-color: rgba(73, 46, 24, 0.8);
          
          @media (max-width: $max) {
            width: ($wm * 3);
            height: ($wm * 3);
            left: ($wm * -12);
            top: ($wm * 5);
          }
        }
      }
    }
  }
}

.services {
  margin-top: ($w * 63);
  
  @media (max-width: $max) {
    margin-top: ($wm * 50);    
  }

  &__container {
    width: ($w * 1252);
    margin: 0 auto;

    @media (max-width: $max) {
      width: ($wm * 330);
    }

    h2 {
      font-weight: 500;
      font-size: ($w * 96);
      line-height: 115%;
      color: #5F3D21;
      margin-bottom: ($w * 92);
      padding-left: ($w * 10);

      @media (max-width: $max) {
        font-size: ($wm * 32);
        margin-bottom: ($wm * 40);
      }
    }
  }

  &__wrapper {
    display: flex;

    @media (max-width: $max) {
      flex-direction: column;
    }
  }

  &__left {
    margin-right: ($w * 54);
    margin-left: auto;
      
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        text-align: right;
        margin-bottom: ($w * 48);

        @media (max-width: $max) {
          margin-bottom: ($wm * 34);
        }

        a {
          padding-right: ($w * 71);
          position: relative;
          font-size: ($w * 32);
          line-height: 97.3%;
          color: #492E18;

          @media (max-width: $max) {
            font-size: ($wm * 16);
            padding-right: ($wm * 31);
          }

          &::before {
            position: absolute;
            top: ($w * -10);
            right: 0;
            content: '';
            display: inline-block;
            width: ($w * 45);
            height: ($w * 45);
            background: url('../img/arrow_3.svg') center / contain no-repeat;
            transition: all .2s ease 0s;

            @media (max-width: $max) {
              top: ($wm * -4);
              width: ($wm * 22);
              height: ($wm * 22);
            }
          }

          &:hover {
           
            &::before {
              transform: rotate(45deg);
              top: ($w * -3);

              @media (max-width: $max) {
                transform: rotate(0deg);
              }
            }
          }
        }
      }
    }
  }

  &__right {
    max-width: ($w * 616);
    width: 100%;
    position: relative;

    @media (max-width: $max) {
      max-width: 100%;
    }

    img {
      width: 100%;
    }

    a {
      position: absolute;
      left: ($w * -140);
      bottom: ($w * -65);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: ($w * 120);
      max-width: ($w * 182);
      width: 100%;
      height: ($w * 182);
      margin-left: auto;
      border-radius: 50%;
      border: 2px solid #492E18;

      @media (max-width: $max) {
        position: static;
        max-width: ($wm * 91);
        height: ($wm * 91);
        border: 1px solid #492E18;
        margin-top: ($wm * 40);
      }

      img {
        width: 50%;
        transition: all .3s ease 0s;
      }

      &:hover {
        img {
          transform: rotate(-46deg);
        }
      }

      p {
        position: absolute;
        margin-bottom: ($w * -3);
        bottom: 0;
        right: ($w * 72);
        font-weight: 500;
        font-size: ($w * 32);
        line-height: 159.5%;
        color: #492E18;

        @media (max-width: $max) {
          font-size: ($wm * 16);
          right: ($wm * 35);
        }
      }
    }
  }
}

.learn {
  margin-top: ($w * 218);

  @media (max-width: $max) {
    margin-top: ($wm * 100);
  }

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;

    @media (max-width: $max) {
      max-width: ($wm * 330);
    }
  }

  &__br {
    display: none;

    @media (max-width: $max) {
      display: block;
    }
  }

  &__title {
    width: ($w * 950);
    font-weight: 500;
    font-size: ($w * 64);
    line-height: 97.3%;
    color: #492E18;
    margin-bottom: ($w * 75);

    @media (max-width: $max) {
      font-size: ($wm * 24);
      width: 100%;
      line-height: 100%;
      margin-bottom: ($wm * 50);
    }

    span {
      text-transform: uppercase;
      color: rgba(204, 51, 18, 1);
    }
  }

  &__text {
    width: ($w * 930);
    font-weight: 400;
    font-size: ($w * 32);
    line-height: 120.3%;
    color: rgba(73, 46, 24, 0.8);
    margin-bottom: ($w * 75);

    @media (max-width: $max) {
      font-size: ($wm * 14);
      width: 100%;
      margin-bottom: ($wm * 50);
    }
  }

  &__table {
    display: flex;
    justify-content: center;
    margin-bottom: ($w * 75);

    @media (max-width: $max) {
      margin-bottom: ($wm * 55);
    }

    &__br-b1 {
      display: none;

      @media (max-width: $max) {
        display: block;
      }
    }

    &-b1,
    &-b2,
    &-b3 {
      font-weight: 500;
      font-size: ($w * 32);
      line-height: 100.5%;
      text-align: center;
      color: #492E18;
      border: 1px solid #CC3312;
      padding-top: ($w * 68);
      padding-bottom: ($w * 68);

      @media (max-width: $max) {
        font-size: ($wm * 12);
      }
    }

    &-b1 {
      width: ($w * 417);

      @media (max-width: $max) {
        width: ($wm * 110);
      }
    }
    &-b2 {
      width: ($w * 369);

      @media (max-width: $max) {
        width: ($wm * 97);
        padding-top: ($wm * 16);
        line-height: 120%;
      }
    }
    &-b3 {
      width: ($w * 466);

      @media (max-width: $max) {
        width: ($wm * 123);
      }
    }
  }

  &__br-sub {
    display: none;

    @media (max-width: $max) {
      display: block;
    }
  }

  &__subtext {
    margin-left: auto;
    width: ($w * 730);
    font-size: ($w * 32);
    line-height: 120.3%;
    text-align: right;
    color: rgba(73, 46, 24, 0.8);
    margin-bottom: ($w * 75);

    @media (max-width: $max) {
      width: ($wm * 234);
      font-size: ($wm * 14);
      margin-bottom: ($wm * 50);
    }
  }

  &__button {

    a {
      position: relative;
      max-width: ($w * 182);
      height: ($w * 182);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid #492E18;
      margin-left: auto;

      @media (max-width: $max) {
        border: 1px solid #492E18;
        max-width: ($wm * 68);
        height: ($wm * 68);
        margin-left: ($wm * 64);
      }

      img {
        width: 48%;
        transition: all .3s ease 0s;
      }

      &:hover {
        img {
          transform: rotate(-46deg);
        }
      }

      p {
        position: absolute;
        width: ($w * 290);
        bottom: 0;
        right: ($w * 65);
        font-weight: 500;
        font-size: ($w * 32);
        line-height: 159.5%;
        color: #492E18;
        margin-bottom: 0;

        @media (max-width: $max) {
          font-size: ($wm * 12);
          width: ($wm * 115);
        }
      }
    }
  }
}

.subs {
  margin-top: ($w * 150);

  @media (max-width: $max) {
    margin-top: ($wm * 100);
  }

  &__container {
     max-width: ($w * 1252);
     width: 100%;
     margin: 0 auto;

    @media (max-width: $max) {
      max-width: ($wm * 330);
    }

    h3 {
      font-weight: 500;
      font-size: ($w * 64);
      line-height: 97.3%;
      color: #492E18;

      @media (max-width: $max) {
        font-size: ($wm * 24);
        max-width: 80%;
        margin-bottom: ($wm * 30);
      }
    }
  }

  &__slider {
    position: relative;
    margin-top: ($w * 50);

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: ($w * 500);
      height: ($w * 500);
      padding: ($w * 32) ($w * 46);
      background: linear-gradient(91.55deg, rgba(238, 221, 205, 0.5) 1.01%, rgba(255, 246, 237, 0.5) 98.45%);
      box-shadow: ($w * 4) ($w * 4) ($w * 7) rgba(73, 46, 24, 0.2);
      backdrop-filter: blur(2px);
      border-radius: ($w * 30);

      @media (max-width: $max) {
        width: ($wm * 250);
        height: ($wm * 250);
        padding: ($wm * 23);
        border-radius: ($wm * 15);
        box-shadow: ($wm * 2) ($wm * 2) ($wm * 3.5) rgba(73, 46, 24, 0.2);
      }

      p {
        margin-bottom: 0;
        font-weight: 400;
        font-size: ($w * 24);
        text-align: center;
        line-height: 133.3%;
        color: #492E18;

        @media (max-width: $max) {
          font-size: ($wm * 12);
        }
      }
    }

    /* Слайдер */
    .slick-slider{}
    /* Слайдер запущен */
    .slick-slider.slick-initialized{}
    /* Слайдер с точками */
    .slick-slider.slick-dotted{}
    /* Ограничивающая оболочка */
    .slick-list {
      overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track{
      display: flex;
    }
    /* Слайд */
    .slick-slide{
      margin-right: ($w * 15);

      @media (max-width: $max) {
        margin-right: ($wm * 15);
      }
    }
    /* Слайд активный (показывается) */
    .slick-slide.slick-active{}
    /* Слайд основной */
    .slick-slide.slick-current{}
    /* Слайд по центру */
    .slick-slide.slick-center{}
    /* Клонированный слайд */
    .slick-slide.slick-cloned{}
    /* Стрелка */
    .slick-arrow{
      position: absolute;
      top: ($w * -65);
      right: 0;
      font-size: 0;
      width: ($w * 80);
      height: ($w * 16);

      @media (max-width: $max) {
        width: ($wm * 40);
        height: ($wm * 8);
        top: ($wm * -35);
      }
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev{
      transform: rotate(180deg);
      background: url('../img/arrow-right.svg') center / contain no-repeat;
      right: ($w * 200);

      @media (max-width: $max) {
        right: ($wm * 72);
      }
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      background: url('../img/arrow-right.svg') center / contain no-repeat;
    }
    /* Стрелка не активная */
    .slick-arrow.slick-disabled{}
    /* Точки (булиты) */
    .slick-dots{}
    .slick-dots li{}
    /* Активная точка */
    .slick-dots li.slick-active{}
    /* Элемент точки */
    .slick-dots li button{}
  }
}

.gallery {

  &__container {
    display: flex;
    flex-direction: column;
    max-width: ($w * 1512);
    width: 100%;
    margin: 0 auto;

    @media (max-width: $max) {
      max-width: 100%;
    }
  }
  
  &__wrapper {
    margin-top: ($w * 150);
    display: flex;

    @media (max-width: $max) {
      margin-top: ($wm * 100);
    }
  }

  &__b1 {
    margin-right: ($w * 20);

    @media (max-width: $max) {
      margin-right: ($wm * 5);
    }

    &-img1 {
      max-width: ($w * 428);
      width: 100%;

      @media (max-width: $max) {
        max-width: ($wm * 120);
      }

      img {
        width: 100%;
      }
    }

    &-img2 {
      max-width: ($w * 298);
      width: 100%;
      margin-top: ($w * 16);
      margin-left: auto;

      @media (max-width: $max) {
        max-width: ($wm * 120);
        margin-top: ($wm * 83);
      }

      img {
        width: 100%;

        &:first-child {
          @media (max-width: $max) {
            display: none;
          }
        }

        &:last-child {
          display: none;

          @media (max-width: $max) {
            display: block;
          }
        }
      }
    }
  }

  &__b2 {
    margin-right: ($w * 20);

    @media (max-width: $max) {
      margin-right: ($wm * 5);
    }
    
    &-img1 {
      max-width: ($w * 616);
      width: 100%;

      @media (max-width: $max) {
        max-width: ($wm * 140);
      }

      img {
        width: 100%;

        &:first-child {
          @media (max-width: $max) {
            display: none;
          }
        }

        &:last-child {
          display: none;

          @media (max-width: $max) {
            display: block;
          }
        }

      }
    }

    &-text {
      max-width: ($w * 616);
      padding: 0 ($w * 50);
      width: 100%;
      margin-top: ($w * 17);
      margin-bottom: ($w * 18);

      @media (max-width: $max) {
        max-width: ($wm * 140);
        margin-top: ($wm * 28);
        margin-bottom: ($wm * 27);
        position: relative;
        height: ($wm * 73);
      }

      p {
        font-weight: 400;
        font-size: ($w * 36);
        line-height: 124%;
        text-align: center;
        color: #492E18;
        margin-bottom: 0;
        position: absolute;
        left: ($wm * -15);

        @media (max-width: $max) {
          font-size: ($wm * 14);
          position: absolute;
          width: ($wm * 170);
          line-height: 140%;
        }
       
        a {
          font-weight: 700;
          color: rgba(204, 51, 18, 1);
        }
      }
    }

    &-img2 {
      max-width: ($w * 616);
      width: 100%;

      @media (max-width: $max) {
        max-width: ($wm * 140);
      }
  
      img {
        width: 100%;

        &:first-child {
          @media (max-width: $max) {
            display: none;
          }
        }

        &:last-child {
          display: none;

          @media (max-width: $max) {
            display: block;
          }
        }
      }
    }
  }

  

  &__b3 {

    &-img1 {
      max-width: ($w * 295);
      width: 100%;
      margin-bottom: ($w * 16);

      @media (max-width: $max) {
        max-width: ($wm * 120);
      }

      img {
        width: 100%;

        &:first-child {
          @media (max-width: $max) {
            display: none;
          }
        }

        &:last-child {
          display: none;

          @media (max-width: $max) {
            display: block;
          }
        }
      }
    }

    &-img2 {
      max-width: ($w * 428);
      width: 100%;

      @media (max-width: $max) {
        max-width: ($wm * 120);
        margin-top: ($wm * 83);
      }

      img {
        width: 100%;
      }
    }
  }

  &__btn {
    margin-top: ($w * 50);
    margin-right: ($w * 157);
    margin-left: auto;
    position: relative;

    @media (max-width: $max) {
      margin-right: ($wm * 44);
      margin-top: ($wm * 30);
    }

    span {
      display: inline-block;
      font-weight: 700;
      font-size: ($w * 36);
      line-height: 160%;
      letter-spacing: 0.08em;
      color: #492E18;

      @media (max-width: $max) {
        font-size: ($wm * 18);
      }
    }

    img {
      position: absolute;
      width: ($w * 169);
      right: ($w * -27);
      bottom: ($w * -5);
      transition: all .3s ease 0s;
      
      @media (max-width: $max) {
        width: ($wm * 85);
        right: ($wm * -15);
      }
    }

    &:hover {

      img {
        right: ($w * -60);
        transform: scaleY(1.15);
      }
    }
  }
}


.ques {
  margin-top: ($w * 150);

  @media (max-width: $max) {
    margin-top: ($wm * 100);
  }

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;

    @media (max-width: $max) {
      max-width: ($wm * 330);
    }
  }

  h3 {
    font-weight: 500;
    font-size: ($w * 64);
    line-height: ($w * 78);
    color: #492E18;
    margin-bottom: ($w * 50);

    @media (max-width: $max) {
      font-size: ($wm * 22);
      line-height: ($wm * 27);
      margin-bottom: ($wm * 15);
      font-weight: 700;
    }
  }

  .card,
  .card-header {
    background: transparent;
    border: none;
    border-radius: 0;
  }

  .card {
    border-top: ($w * 1) solid #CC3312;

    &:last-child {
      border-bottom: ($w * 1) solid #CC3312;
    }
  }

  .card-header {
    padding: 0;
  }

  .accordion .card-header button {
    position: relative;
  }

  .accordion .card-header button:after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: ($w * 80);
    height: ($w * 80);
    background: url('../img/line.svg') center / contain no-repeat;
    float: right;
    transition: .2s;

    @media (max-width: $max) {
      width: ($wm * 22);
      height: ($wm * 22);
    }
  }

  .accordion .card-header button.collapsed:after {
    background: url('../img/double.svg') center / contain no-repeat;
  }

  .btn {
    font-weight: 500;
    font-size: ($w * 36);
    line-height: 129%;
    color: #492E18;
    padding: ($w * 50) ($w * 100) ($w * 50) 0;

    @media (max-width: $max) {
      padding: ($wm * 20) ($wm * 48) ($wm * 20) 0;
      font-size: ($wm * 14);
    }
  }

  .btn-link {
    text-decoration: none;
  }

  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none; 
  }

  .card-body {
    font-weight: 400;
    font-size: ($w * 34);
    line-height: 140%;
    color: #492E18;
    padding: 0 0 ($w * 50);

    @media (max-width: $max) {
      font-size: ($wm * 13);
      padding-bottom: ($wm * 20);
      padding-right: ($wm * 30);
    }
  }
}

.call {
  margin-top: ($w * 150);
  padding-bottom: ($w * 250);

  @media (max-width: $max) {
    margin-top: ($wm * 100);
    padding-bottom: ($wm * 100);
  }

  &__container {
    max-width: ($w * 1100);
    width: 100%;
    margin: 0 auto;

    @media (max-width: $max) {
      max-width: ($wm * 330);
    }

    h3 {
      font-weight: 500;
      font-size: ($w * 42);
      line-height: ($w * 50);
      color: #492E18;
      margin-bottom: ($w * 60);

      @media (max-width: $max) {
        font-size: ($wm * 16);
        line-height: ($wm * 20);
        text-align: center;
        margin-bottom: ($wm * 30);
      }

      .call__br {
        display: none;

        @media (max-width: $max) {
          display: block;
        }
      }
    }

    .call__form {
      width: 100%;

      .call__input,
      .call__comments {
        width: 100%;

        input,
        textarea {
          color: rgba(159, 29, 0, 1);
          border: 1px solid #492E18;
          padding: ($w * 25) ($w * 30);
          font-weight: 400;
          font-size: ($w * 30);
          line-height: 129%;
          width: 100%;
          background-color: transparent;
          margin-bottom: ($w * 40);
  
          &::placeholder {
            color: rgba(159, 29, 0, 0.7);
          }

          @media (max-width: $max) {
            padding: ($wm * 12) ($wm * 10);
            font-size: ($wm * 12);
            margin-bottom: ($wm * 5);
          }
        }
      }

      .call__comments {

        textarea {
          height: ($w * 200);
          margin-bottom: ($w * 70);
  
          &::placeholder {
            color: rgba(159, 29, 0, 0.7);
          }

          @media (max-width: $max) {
            height: ($wm * 80);
            margin-bottom: ($wm * 30);
          }
        }
      }

      .call__button {
        width: 100%;
        display: flex;
        justify-content: end;

        button {
          width: ($w * 400);
          height: ($w * 100);
          background: #9F1D00;
          border-radius: ($w * 10);
          font-weight: 500;
          font-size: ($w * 32);
          line-height: 129%;
          text-transform: uppercase;
          color: #FFEEE0;
          margin-left: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease 0s;

          @media (max-width: $max) {
            width: ($wm * 157);
            height: ($wm * 39);
            font-size: ($wm * 12);
            border-radius: ($wm * 3);
          }

          &:hover {
            filter: drop-shadow(0px 0px 15px #E10000);

            @media (max-width: $max) {
              filter: drop-shadow(0px 0px 5px #E10000);
            }

            span {
              font-weight: 700;
              letter-spacing: 0.03em;
            }
          }

          span {
            transition: all .2s ease 0s;
          }
        }
      }
    }
  }
}

.footer {
  padding-top: ($w * 22);
  padding-bottom: ($w * 56);

  @media (max-width: $max) {
    padding-top: ($wm * 20);
    padding-bottom: ($wm * 20);
  }
   
  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;

    @media (max-width: $max) {
      max-width: ($wm * 330);
      display: flex;
    }
  }

  &__top {
    display: flex;
    margin-bottom: ($w * 110);

    @media (max-width: $max) {
      margin-bottom: 0;
      align-items: center;
    }

    &-img {
      width: ($w * 54);
      height: ($w * 54);

      @media (max-width: $max) {
        width: ($wm * 26);
        height: ($wm * 26);
      }

      img {
        width: 100%;
      }
    }

    &-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: ($w * 64);
      flex: 1;

      @media (max-width: $max) {
        display: none;
      }

      nav {
        display: flex;
        margin-bottom: 0;
          
        a {
          position: relative;
          font-weight: 400;
          font-size: ($w * 24);
          line-height: 129%;          
          color: #FFE6D1;
          margin-right: ($w * 90);
          
          &:last-child {
            margin-right: 0;
          }
    
          &:after {
            display: block;
            position: absolute;
            left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
            width: 0;/*задаём длинну линии до наведения курсора*/
            height: 2px; /*задаём ширину линии*/
            background-color: #FFE6D1; /*задаём цвет линии*/
            content: "";
            transition: width 0.3s ease-out; /*задаём время анимации*/
          }
          
          &:hover:after,
          &:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;

    @media (max-width: $max) {
      margin-left: ($wm * 50);
    }

    a {
      width: ($w * 400);

      @media (max-width: $max) {
        display: flex;
        align-items: center;
        width: ($wm * 179);
      }

      img {
        width: 100%;
      }
    }
  }
}

.footer__main {
  background: #921A00;
}

// education
.header__education {
  background: #FFE9D8;
}

.main__edu {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
  overflow: hidden;
}

.edu {
  background: url("../img/ed-bg.png") top / cover no-repeat;

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;

    h1 {
      padding-top: ($w * 212);
      font-weight: 400;
      font-size: ($w * 96);
      line-height: 97.3%;
      color: #FFEEE0;
      max-width: ($w * 920);
      width: 100%;
    }

    h2 {
      margin: 0 auto;
      margin-top: ($w * 165);
      padding-bottom: ($w * 95);
      max-width: ($w * 750);
      width: 100%;
      font-style: italic;
      font-size: ($w * 48);
      line-height: 97.3%;
      color: #FFEEE0;
    }
  }
}

.me {
  padding-top: ($w * 100);
  padding-bottom: ($w * 100);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
  }

  h3 {
    font-weight: 500;
    font-size: ($w * 48);
    line-height: 97.3%;
    color: #341E0B;
    margin-bottom: ($w * 50);
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    max-width: ($w * 780);
    width: 100%;

    ul {

      li {
        margin-left: ($w * 36);
        font-size: ($w * 36);
        line-height: 115%;
        color: #492E18;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: ($w * 16);
          left: ($w * -25);
          display: flex;
          width: ($w * 7);
          height: ($w * 7);
          border-radius: 50%;
          background-color: rgba(73, 46, 24, 1);
        }

        span {
          text-transform: uppercase;
        }
      }
  
      div {
        width: 97%;
        margin-left: ($w * -18);
        border-bottom: 1px solid rgba(159, 29, 0, 0.5);
        margin-top: ($w * 20);
        margin-bottom: ($w * 20);
      }
    }
  }

  &__right {
    width: ($w * 444);
    margin-left: ($w * 20);

    div {
      width: ($w * 634);
      height: ($w * 634);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        margin-top: ($w * -16);
      }
    }
  }
}

.in {
  padding-top: ($w * 70);
  padding-bottom: ($w * 60);
  background: linear-gradient(90deg, #271A0E 0%, rgba(149, 126, 108, 0.71) 100%);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
    position: relative;

    .in__star1 {
      position: absolute;
      top: ($w * 15);
      right: ($w * 30);
      width: ($w * 268);
      height: ($w * 268);
      filter: blur(1.5px);
    }
    .in__star2 {
      position: absolute;
      top: ($w * 185);
      right: ($w * -50);
      width: ($w * 151);
      height: ($w * 151);
      filter: blur(1px);
    }
    .in__star3 {
      position: absolute;
      top: ($w * 330);
      right: ($w * 95);
      width: ($w * 95);
      height: ($w * 95);
      filter: blur(1.5px);
    }
  }

  h2 {
    font-weight: 500;
    font-size: ($w * 64);
    line-height: 97.3%;
    color: #FFECDD;
    margin-bottom: ($w * 80);
  }

  &__list {
    max-width: ($w * 885);
    width: 100%;

    &-show {
      position: relative;
      z-index: 1;

      p {
        position: relative;
        margin-top: ($w * -10);
        margin-bottom: 0;
        background: linear-gradient(90deg,#32251A ,#7E6D5F); ;
        border-radius: ($w * 30);
        font-weight: 400;
        font-size: ($w * 36);
        line-height: 120.3%;
        color: rgba(255, 236, 221, 0.8);
        width: 100%;
        padding: ($w * 20) ($w * 20) ($w * 40);
        padding-left: ($w * 70);
        box-shadow: 0px ($w * 5) ($w * 10) rgba(0, 0, 0, 0.19);
        transform: translate3d(0,0,0);

        &::after {
          content: '';
          position: absolute;
          top: ($w * 36);
          left: ($w * 42);
          display: flex;
          width: ($w * 7);
          height: ($w * 7);
          border-radius: 50%;
          background-color: rgba(255, 236, 221, 0.8);
        }

        &::before {
          content:"";
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          border-radius: ($w * 30); 
          padding:1px; 
          background:linear-gradient(180deg,rgba(255, 230, 209, 1),rgba(255, 230, 209, 0)); 
          -webkit-mask: 
             linear-gradient(#fff 0 0) content-box, 
             linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out; 
          mask-composite: exclude;
          transform: translate3d(0,0,100px);
        }

        &:nth-child(2) { z-index: 10; transform: translate3d(0, 0, 200px);}
        &:nth-child(3) { z-index: 20; transform: translate3d(0, 0, 300px);}
        &:nth-child(4) { z-index: 30; transform: translate3d(0, 0, 400px);}
        &:nth-child(5) { z-index: 40; transform: translate3d(0, 0, 500px);}
        &:nth-child(6) { z-index: 50; transform: translate3d(0, 0, 600px);}
        &:nth-child(7) { z-index: 60; transform: translate3d(0, 0, 700px);}
        &:nth-child(8) { z-index: 70; transform: translate3d(0, 0, 800px);}
        &:nth-child(9) { z-index: 80; transform: translate3d(0, 0, 900px);}
        &:nth-child(10) { z-index: 90; transform: translate3d(0, 0, 1000px);}
        &:nth-child(11) { z-index: 100; transform: translate3d(0, 0, 1100px);}
        &:nth-child(12) { z-index: 110; transform: translate3d(0, 0, 1200px);}
        &:nth-child(13) { z-index: 120; transform: translate3d(0, 0, 1300px);}
        &:nth-child(14) { z-index: 130; transform: translate3d(0, 0, 1400px);}
        &:nth-child(15) { z-index: 140; transform: translate3d(0, 0, 1500px);}
      }

      .in__showed {
        position: relative;
        z-index: 55;
        display: none;
      }

      .in__button {
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: ($w * 70);
        cursor: pointer;

        &-img {
          width: ($w * 114);
          height: ($w * 114);
          background: url("../img/plus.svg") center / cover no-repeat;
        }

        &-img-toggle {
          background: url("../img/minus.svg") center / cover no-repeat;
        }

        &-text {
          position: relative;

          &::after {
            position: absolute;
            left: ($w * -15);
            bottom: ($w * 12);
            width: ($w * 185);
            height: ($w * 30);
            content: "Увидеть больше";
            font-size: ($w * 24);
            line-height: 120.3%;
            color: rgba(255, 236, 221, 0.8);
          }
        }

        &-text-toggle {
          position: relative;

          &::after {
            position: absolute;
            content: "Скрыть";
          }
        }
      }
    }
  }
}

.feedback {
  padding-top: ($w * 150);
  padding-bottom: ($w * 200);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;

    h2 {
      font-weight: 500;
      font-size: ($w * 64);
      line-height: 97.3%;
      color: #492E18;
      margin-bottom: ($w * 100);
    }
  }

  .feedbackSlider {
    position: relative;

    .slick-slider{}
    /* Слайдер запущен */
    .slick-slider.slick-initialized{}
    /* Слайдер с точками */
    .slick-slider.slick-dotted{}
    /* Ограничивающая оболочка */
    .slick-list {
      overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track{
      display: flex;
    }
    /* Слайд */
    .slick-slide{
      margin: 0 ($w * 8);
    }
    /* Слайд активный (показывается) */
    .slick-slide.slick-active{}
    /* Слайд основной */
    .slick-slide.slick-current{}
    /* Слайд по центру */
    .slick-slide.slick-center{}
    /* Клонированный слайд */
    .slick-slide.slick-cloned{}
    /* Стрелка */
    .slick-arrow{
      position: absolute;
      bottom: ($w * -100);
      right: 0;
      font-size: 0;
      width: ($w * 100);
      height: ($w * 20);
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev{
      transform: rotate(180deg);
      background: url('../img/arrow-right.svg') center / contain no-repeat;
      left: 0;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      background: url('../img/arrow-right.svg') center / contain no-repeat;
    }
    /* Стрелка не активная */
    .slick-arrow.slick-disabled{}
    /* Точки (булиты) */
    .slick-dots{}
    .slick-dots li{}
    /* Активная точка */
    .slick-dots li.slick-active{}
    /* Элемент точки */
    .slick-dots li button{}
  }

  &__main {
    display: flex;

    &-img {
      max-width: ($w * 616);
      width: 100%;

      img {
        width: 100%;
      }
    }

    &-text {
      max-width: ($w * 555);
      width: 100%;
      margin-left: ($w * 80);
      flex: 1 0;

      h3 {
        font-weight: 500;
        font-size: ($w * 48);
        line-height: 97.3%;
        color: #CC3312;
        margin-bottom: ($w * 50);
      }

      p {
        margin-bottom: 0;
        font-size: ($w * 24);
        line-height: 128.8%;
        color: rgba(73, 46, 24, 0.8);
      }
    }
  }
}

.ques2 {
  margin-top: 0;

  &__ty {
    margin-top: ($w * 90);

    a {
      margin-right: ($w * 122);
      position: relative;
      margin-left: auto;
      max-width: ($w * 192);
      height: ($w * 192);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid #492E18;

      img {
        width: 45%;
        transition: all .3s ease 0s;
      }

      &:hover {
        img {
          transform: rotate(-45deg);
        }
      }

      span {
        position: absolute;
        bottom: ($w * -12);
        right: ($w * -124);
        font-weight: 500;
        font-size: ($w * 36);
        line-height: 159.5%;
        color: #492E18;
      }
    }
  }
}

.call2 {
  padding-bottom: ($w * 175);
}

.footer__edu {
  background: #3D2A1B;
}

.main__services {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
}

.service {
  padding-top: ($w * 91);
  padding-bottom: ($w * 100);

  &__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
  }

  &__h2 {
    margin-top: ($w * 100);
    margin-bottom: ($w * 55);
    font-size: ($w * 96);
    line-height: 97.3%;
    color: #492E18;
    padding-left: 0;
  }

  .accordion {
    .card,
    .card-header {
      background: transparent;
      border: none;
      border-radius: 0;
    }

    .card {
      border-top: 1px solid #CC3312;
      padding: ($w * 60) 0;

      &:first-child {
        border-top: none;
      }
    }

    .card-header {
      padding: 0;
    }

    .card-body {
      padding: 0;
      padding-top: ($w * 50);

      li {
        display: flex;
        justify-content: space-between;

        p {
          margin-bottom: ($w * 30);

          &:first-child {
            font-size: ($w * 40);
            line-height: 107.5%;
            color: #492E18;

            span {
              font-size: ($w * 40);
              color: rgba(73, 46, 24, 0.8);
            }
          }
  
          &:last-child {
            width: ($w * 512);
            font-style: italic;
            font-weight: 400;
            font-size: ($w * 40);
            line-height: 107.5%;
            color: #492E18;
          }
        }

        &:last-child {

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    .accordion .card-header button {
      position: relative;
    }

    .btn-link {
      text-decoration: none;
      padding: 0;
    }
  
    .btn.focus, .btn:focus {
      outline: 0;
      box-shadow: none; 
    }
  }
  &__accord {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: ($w * 40);
      font-weight: 500;
      line-height: 97.3%;
      color: #492E18;
      margin-bottom: 0;
    }

    &-wrap {
      position: relative;
      width: ($w * 512);

      &-text {
        font-style: italic;
        font-weight: 400;
        font-size: ($w * 40);
        line-height: 97.3%;
        color: #492E18;
        margin-bottom: 0;
      }
    }

    &-arrow {
      width: ($w * 110);
      height: ($w * 22);
      position: absolute;
      right: 0;
      top: ($w * 10);
      transition: all .3s ease 0s;

      img {
        width: 100%;
      }
    }
  }

  .accordion {

    button:not(.collapsed) {

      .service__accord-arrow {
        transform: rotate(90deg);
        transition: all .3s ease 0s;
        top: ($w * 40);
        right: ($w * -35);
      }
    }
  }

  &__btn {

    a {
      position: relative;
      display: flex;
      margin-left: auto;
      justify-content: center;
      align-items: center;
      max-width: ($w * 260);
      height: ($w * 260);
      margin-top: ($w * 50);
      width: 100%;
      border-radius: 50%;
      border: 2px solid #492E18;

      &:hover {

        img {
          transform: rotate(-46deg);
        }
      }
      
      img {
        width: 42%;
        transition: all .3s ease 0s;
      }

      span {
        position: absolute;
        bottom: ($w * 0);
        left: ($w * -110);
        font-weight: 500;
        font-size: ($w * 48);
        line-height: 159.5%;
        color: #492E18;
      }
    }
  }
}

.footer__services {
  background: #FFE9D8;

  nav a {
    color: #492E18;

    &::after {
      background-color: #492E18;
    }
  }
}

.works-line {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: ($w * 100);
}

.works,
.works2,
.works3 {
  padding-top: ($w * 91);

  .bread__container {
    max-width: ($w * 1252);
    width: 100%;
    margin: 0 auto;
  }

  &__container,
  &__container2,
  &__container3 {
    max-width: ($w * 1000);
    width: 100%;
    margin: 0 auto;
  }

  &__h2 {
    margin-top: ($w * 100);
    margin-bottom: ($w * 80);
    font-size: ($w * 80);
    line-height: 97.3%;
    color: #492E18;
    padding-left: 0;
  }

  &__slider1,
  &__slider2,
  &__slider3 {
    position: relative;

    &-item {
      width: ($w * 1000);
      
      img {
        width: 100%;
      }
    }

    /* Слайдер */
    .slick-slider{}
    /* Слайдер запущен */
    .slick-slider.slick-initialized{}
    /* Слайдер с точками */
    .slick-slider.slick-dotted{}
    /* Ограничивающая оболочка */
    .slick-list {
      overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track{
      display: flex;
    }
    /* Слайд */
    .slick-slide{
      margin-right: ($w * 15);
    }
    /* Слайд активный (показывается) */
    .slick-slide.slick-active{}
    /* Слайд основной */
    .slick-slide.slick-current{}
    /* Слайд по центру */
    .slick-slide.slick-center{}
    /* Клонированный слайд */
    .slick-slide.slick-cloned{}
    /* Стрелка */
    .slick-arrow{
      position: absolute;
      top: 50%;
      right: ($w * -160);
      font-size: 0;
      width: ($w * 100);
      height: ($w * 22);
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev{
      transform: rotate(180deg);
      background: url('../img/arrow-work.svg') center / contain no-repeat;
      left: ($w * -160);
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      background: url('../img/arrow-work.svg') center / contain no-repeat;
    }
    /* Стрелка не активная */
    .slick-arrow.slick-disabled{}
    /* Точки (булиты) */
    .slick-dots{}
    .slick-dots li{}
    /* Активная точка */
    .slick-dots li.slick-active{}
    /* Элемент точки */
    .slick-dots li button{}
  }
}

.works {

  @media (max-width: $max) {
    padding-top: ($wm * 40);
  }
}

.works2,
.works3 {
  padding-top: 0;
}

.works3 {
  padding-bottom: ($w * 250);
}