@import 'null';
@import 'fonts';

$w: (100vw / 1512);

main {
  background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
  font-family: 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #E2D1C3;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

// header
.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(12, 12, 12, 0.1);
  padding: ($w * 20) ($w * 130);

  &__logo {
    width: ($w * 237);

    img {
      width: 100%;
    }
  }

  &__menu {
    margin-left: ($w * 109);

    a {
      position: relative;
      line-height: 1;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: ($w * 20);
      line-height: 97.3%;
      color: #341E0B;
      margin-right: ($w * 90);

      &:last-child {
        margin-right: 0;
      }

      &:after {
        display: block;
        position: absolute;
        left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
        width: 0;/*задаём длинну линии до наведения курсора*/
        height: 2px; /*задаём ширину линии*/
        background-color: #341E0B; /*задаём цвет линии*/
        content: "";
        transition: width 0.3s ease-out; /*задаём время анимации*/
      }
      
      &:hover:after,
      &:focus:after {
        width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
      }
    }
  }

  &__inst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: ($w * 45);
    height: ($w * 45);

    img {
      width: 100%;
    }
  }
}

.inject {
  display: flex;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: ($w * 96);
      color: #492E18;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: ($w * 123);
    margin-right: ($w * 22);

    p {
      margin-top: ($w * 70);
      margin-left: ($w * 7);
      width: ($w * 455);
      font-size: ($w * 28);
      color: rgba(95, 61, 33, 0.8);
    }
  }

  &__photo {
    min-width: ($w * 703);
    margin-left: auto;

    img {
      width: 100%;
    }
  }
}